<agm-map *ngIf="locations.length > 0" [latitude]="locations[0].coordinates.lat" [longitude]="locations[0].coordinates.lng">

  <agm-marker *ngFor="let location of locations" [latitude]="location.coordinates.lat" [longitude]="location.coordinates.lng">
    <agm-info-window>
      <h3>{{location.firstName}}</h3>
      <!-- <h4>{{location.serviceProvider.experience}}</h4> -->
    </agm-info-window>
  </agm-marker>

</agm-map>

<agm-map *ngIf="locations.length < 1" [latitude]="-33.92487" [longitude]="18.42406">


</agm-map>
