.sitter-profile-pic {
    height: 200px;
    width: 200px;
    margin: 24px 24px 24px 10px;
}

.large {
    font-size: 24px;
}

.medium {
    font-size: 18px;
}

.small {
    font-size: 16px
}

.xsmall {
    font-size: 14px
}

.card {
    height: 250px;
    border: 1px solid rgba(0, 0, 0, 0.329);
    border-radius: 5px;
    width: 650px;
    margin: 0px 20px 20px 35px;
}

.card:hover {
    background-color: rgba(0, 0, 0, 0.048);
}

.fa-map-marker {
    color: #008cff;
    font-size: 16px;
}

.stars {
    margin-right: 10px;
    margin-top: auto;
    margin-bottom: auto;
}

.reviews {
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
}