<footer class="foot">
  <p class="space"> </p>

  <div class="row">
    <!-- <p class="nothing"> </p> -->
    <!-- <p class="nothing"> </p> -->
    <span class="col-md-2"></span>
    <div class="col-md-2">
      <img src="../assets/img/mindez_black_logo.png" alt="">

    </div>
    <div class="col-md-2">
      <p>5th Floor, Block B,
        <br> Woodstock Exchange,
        <br> 66 Albert road,
        <br> Woodstock Cape Town</p>
    </div>
    <div class="col-md-2">
      <p>+27 021 552 6371 support@minderz.co.za</p>
    </div>

    <div class="col-md-3">
      <form action="https://minderz.us15.list-manage.com/subscribe/post?u=397a663d26e9b7cfe8c0cee2d&amp;id=7f0a8aa893" method="post"
        id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
          <label for="mce-EMAIL">Subscribe for updates with the latest developments of our offering. Subscribe for updates with the latest developments
            of our offering.</label>
            <div class="email-align">
              <input type="email" value=""name="EMAIL" class="email" id="mce-EMAIL" placeholder="Someone@Somewhere.com" required>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true">
                <input type="text" name="b_397a663d26e9b7cfe8c0cee2d_7f0a8aa893" tabindex="-1" value="">
              </div>
              <div class="clear">
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-success btn-md">
              </div>
            </div>
        </div>
      </form>
    </div>
  </div>
</footer>