


<!-- <footer class="bg-prcimary foot">
    <div class="row">
      <p class="nothing"> </p>
      <p class="nothing"> </p>
      <p class="nothing"> </p>
      <div class="col-md-3">
      <img src="../assets/img/mindez_black_logo.png" alt="">

      </div>
      <div class="col-md-3">
        <p>5th Floor, Block B, Woodstock Exchange, 66 Albert road, Woodstock Cape Town</p>
      </div>
      <div class="col-md-3">
        <p>+27 021 552 6371 support@minderz.co.za</p>
      </div>
      <div class="col-md-3">Subscribe for updates with the latest developments of our offering. Subscribe for updates with the latest developments
        of our offering.
      </div>
    </div>
  </footer> -->
