


<footer class="foot">
    <p class="space"> </p>

    <div class="row">
      <!-- <p class="nothing"> </p> -->
      <!-- <p class="nothing"> </p> -->
      <span class="col-md-2"></span>
      <div class="col-md-2">
      <img src="../assets/img/mindez_black_logo.png" alt="">

      </div>
      <div class="col-md-2">
        <p>5th Floor, Block B, <br> Woodstock Exchange, <br> 66 Albert road, <br>  Woodstock Cape Town</p>
      </div>
      <div class="col-md-2">
        <p>+27 021 552 6371 support@minderz.co.za</p>
      </div>
      <div class="col-md-3">Subscribe for updates with the latest developments of our offering. Subscribe for updates with the latest developments
        of our offering.
        <br>
        <input type="text" class="box" placeholder="Someone@Somewhere.com">
        <button class="btn btn-success btn-md  ">Subscribe</button>
            </div>
    </div>
  </footer>
