<div [formGroup]="form" class="container-fluid">
  <div class="row">

    <!--Start job distance-->
    <div class="job-distance-radius">
      <div class="col-md-2 height-46 display-flex">
        <label class="text-line-middle">Job Distance Radius:</label>
      </div>
      <div class="col-md-10">
        <select class="form-control custom-select mb-2 mr-sm-2 mb-sm-0">
          <option selected>10KM</option>
          <option>20KM</option>
          <option>50KM</option>
        </select>
      </div>
    </div>
    <!--End job distance-->

    <!--Start pet size-->
    <div class="pet-size-preference">

      <div class="col-md-2 height-46 display-flex">
        <label class="text-line-middle">Pet Size Preference:</label>
      </div>

      <div class="col-md-10">
        <select class="form-control custom-select mb-2 mr-sm-2 mb-sm-0">
          <option selected>Small</option>
          <option>Medium</option>
          <option>Large</option>
        </select>
      </div>
    </div>
    <!--End pet size-->

    <div class="pet-type-reference">

      <div class="col-md-2 height-46 display-flex">
        <label class="text-line-middle">Pet type preference:</label>
      </div>

      <div class="col-md-10">
        <div class="checkbox-container display-flex col-md-2">
          <div class="checkbox" (click)="checkPet('dogs')">
            <i [ngClass]="petMap['dogs'] ? 'checked' : 'unchecked'" class="fa fa-check"></i>
          </div>
          <label class="text-line-middle">Dogs</label>
        </div>

        <div class="checkbox-container display-flex col-md-2">
          <div class="checkbox" (click)="checkPet('cats')">
            <i [ngClass]="petMap['cats'] ? 'checked' : 'unchecked'" class="fa fa-check"></i>
          </div>
          <label class="text-line-middle">Cats</label>
        </div>

        <div class="checkbox-container display-flex col-md-2">
          <div class="checkbox" (click)="checkPet('birds')">
            <i [ngClass]="petMap['birds'] ? 'checked' : 'unchecked'" class="fa fa-check"></i>
          </div>
          <label class="text-line-middle">Birds</label>
        </div>

        <div class="checkbox-container display-flex col-md-2">
          <div class="checkbox" (click)="checkPet('fish')">
            <i [ngClass]="petMap['fish'] ? 'checked' : 'unchecked'" class="fa fa-check"></i>
          </div>
          <label class="text-line-middle">Fish</label>
        </div>

        <div class="checkbox-container display-flex col-md-4">
          <div class="checkbox" (click)="checkPet('other')">
            <i [ngClass]="petMap['other'] ? 'checked' : 'unchecked'" class="fa fa-check"></i>
          </div>
          <label class="text-line-middle">Other</label>
        </div>
      </div>
    </div>


    <div class="pet-type-reference row">
      <div class="checkbox" (click)="checkService('Dog Walking')">
        <i class="fa fa-check"></i>
        Dog Walking
      </div>
      <div class="checkbox" (click)="checkService('Pet Sitting')">
        <i class="fa fa-check"></i>
        Pet Sitting
      </div>
      <div class="checkbox" (click)="checkService('House Sitting')">
        <i class="fa fa-check"></i>
        House Sitting
      </div>
      <div class="checkbox" (click)="checkService('Drop in Visits')">
        <i class="fa fa-check"></i>
        Drop in Visits
      </div>
    </div>

    <div *ngIf="petMap['dogs'] && serviceMap['Dog Walking']" class="dog-walking">
      <h3>Dog Walking</h3>
      <div class="price-per-walk">
        <label>Price per walk</label>
        <input type="text">
      </div>
      <div class="pets-per-walk">
        <label>Pets Per walk:</label>
        <select class="combo-box">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
        </select>
      </div>

      <div class="walks-per-day">
        <label>Walks Per Day</label>
        <select class="combo-box">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
        </select>
      </div>
    </div>


    <div *ngIf="serviceMap['Pet Sitting']" class="pet-setting ">
      <h3>Pet Sitting</h3>
      <div class="price-per-pet">
        <label>Price per pet</label>
        <input type="text">
      </div>
      <div class="pets-per-day">
        <label>Pets Per Day:</label>
        <select class="combo-box">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
        </select>
      </div>
    </div>



    <div *ngIf="serviceMap['House Sitting']" class="house-sitting">
      <h3>House Sitting</h3>
      <div class="price-per-walk">
        <label>Price per walk</label>
        <input type="text">
      </div>
    </div>


    <div *ngIf="serviceMap['Drop in Visits']" class="drop-in-vists">
      <h3>Drop-in Visits</h3>
      <div class="price-per-visit">
        <label>Price per visit</label>
        <input type="text">
      </div>
      <div class="pets-per-day">
        <label>Visits Per Day</label>
        <select class="combo-box">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
        </select>
      </div>
    </div>

    <!--Navigate-->
    <button class="btn btn-default" (click)="registerService.back()">Back</button>
    <button class="btn btn-primary" (click)="registerService.next()">Next</button>

  </div>
</div>
