<div [formGroup]="form" class="container-fluid">
  <div class="row">

    <!--Start job distance-->
    <div class="line col-md-12" id="job-distance-radius">

      <div class="col-md-2 col-sm-12 height-46 display-flex">
        <label class="text-line-middle">Job Distance Radius:</label>
      </div>

      <div class="col-md-10">
        <select class="form-control custom-select mb-2 mr-sm-2 mb-sm-0">
          <option selected>10KM</option>
          <option>20KM</option>
          <option>50KM</option>
        </select>
      </div>
    </div>
    <!--End job distance-->

    <!--Start pet size-->
    <div class="line col-md-12" id="pet-size-preference">

      <div class="col-md-2 col-sm-12 height-46 display-flex">
        <label class="text-line-middle">Pet Size Preference:</label>
      </div>

      <div class="col-md-10">
        <select class="form-control custom-select mb-2 mr-sm-2 mb-sm-0">
          <option selected>Small</option>
          <option>Medium</option>
          <option>Large</option>
        </select>
      </div>
    </div>
    <!--End pet size-->

    <div class="line col-md-12" id="pet-type-reference">

      <div class="col-md-2 col-sm-12 height-46 display-flex">
        <label class="text-line-middle">Pet type preference:</label>
      </div>

      <div class="col-md-10 col-sm-12 height-46">
        <div class="checkbox-container display-flex col-md-2 col-sm-2 col-xs-12">
          <div class="checkbox" (click)="checkPet('dogs')">
            <i [ngClass]="petMap['dogs'] ? 'checked' : 'unchecked'" class="fa fa-check"></i>
          </div>
          <label class="text-line-middle checkbox-label">Dogs</label>
        </div>

        <div class="checkbox-container display-flex col-md-2 col-sm-2 col-xs-12">
          <div class="checkbox" (click)="checkPet('cats')">
            <i [ngClass]="petMap['cats'] ? 'checked' : 'unchecked'" class="fa fa-check"></i>
          </div>
          <label class="text-line-middle checkbox-label">Cats</label>
        </div>

        <div class="checkbox-container display-flex col-md-2 col-sm-2 col-xs-12">
          <div class="checkbox" (click)="checkPet('birds')">
            <i [ngClass]="petMap['birds'] ? 'checked' : 'unchecked'" class="fa fa-check"></i>
          </div>
          <label class="text-line-middle checkbox-label">Birds</label>
        </div>

        <div class="checkbox-container display-flex col-md-2 col-sm-2 col-xs-12">
          <div class="checkbox" (click)="checkPet('fish')">
            <i [ngClass]="petMap['fish'] ? 'checked' : 'unchecked'" class="fa fa-check"></i>
          </div>
          <label class="text-line-middle checkbox-label">Fish</label>
        </div>

        <div class="checkbox-container display-flex col-md-4 col-sm-4 col-xs-12">
          <div class="checkbox" (click)="checkPet('other')">
            <i [ngClass]="petMap['other'] ? 'checked' : 'unchecked'" class="fa fa-check"></i>
          </div>
          <label class="text-line-middle checkbox-label">Other</label>
        </div>
      </div>
    </div>


    <div class="line col-md-12" id="service-type-reference">

      <div class="col-md-2 col-sm-12 height-46 display-flex">
        <label class="text-line-middle">Service preference:</label>
      </div>

      <div class="col-md-10 col-sm-12 height-46">
        <div class="checkbox-container display-flex col-md-3 col-sm-3 col-xs-12">
          <div class="checkbox" (click)="checkService('Dog Walking')">
            <i [ngClass]="serviceMap['Dog Walking'] ? 'checked' : 'unchecked'" class="fa fa-check"></i>
          </div>
          <label class="text-line-middle checkbox-label">Dog Walking</label>
        </div>

        <div class="checkbox-container display-flex col-md-3 col-sm-3 col-xs-12">
          <div class="checkbox" (click)="checkService('Pet Sitting')">
            <i [ngClass]="serviceMap['Pet Sitting'] ? 'checked' : 'unchecked'" class="fa fa-check"></i>
          </div>
          <label class="text-line-middle checkbox-label">Pet Sitting</label>
        </div>

        <div class="checkbox-container display-flex col-md-3 col-sm-3 col-xs-12">
          <div class="checkbox" (click)="checkService('House Sitting')">
            <i [ngClass]="serviceMap['House Sitting'] ? 'checked' : 'unchecked'" class="fa fa-check"></i>
          </div>
          <label class="text-line-middle checkbox-label">House Sitting</label>
        </div>

        <div class="checkbox-container display-flex col-md-3 col-sm-3 col-xs-12">
          <div class="checkbox" (click)="checkService('Drop in Visits')">
            <i [ngClass]="serviceMap['Drop in Visits'] ? 'checked' : 'unchecked'" class="fa fa-check"></i>
          </div>
          <label class="text-line-middle checkbox-label">Drop in Visits</label>
        </div>

      </div>
    </div>

    <div *ngIf="petMap['dogs'] && serviceMap['Dog Walking']" class="dog-walking">
      <h3>Dog Walking</h3>
      <div class="price-per-walk">
        <label>Price per walk</label>
        <input type="text">
      </div>
      <div class="pets-per-walk">
        <label>Pets Per walk:</label>
        <select class="combo-box">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
        </select>
      </div>

      <div class="walks-per-day">
        <label>Walks Per Day</label>
        <select class="combo-box">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
        </select>
      </div>
    </div>


    <div *ngIf="serviceMap['Pet Sitting']" class="pet-setting ">
      <h3>Pet Sitting</h3>
      <div class="price-per-pet">
        <label>Price per pet</label>
        <input type="text">
      </div>
      <div class="pets-per-day">
        <label>Pets Per Day:</label>
        <select class="combo-box">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
        </select>
      </div>
    </div>



    <div *ngIf="serviceMap['House Sitting']" class="house-sitting">
      <h3>House Sitting</h3>
      <div class="price-per-walk">
        <label>Price per walk</label>
        <input type="text">
      </div>
    </div>


    <div *ngIf="serviceMap['Drop in Visits']" class="drop-in-vists">
      <h3>Drop-in Visits</h3>
      <div class="price-per-visit">
        <label>Price per visit</label>
        <input type="text">
      </div>
      <div class="pets-per-day">
        <label>Visits Per Day</label>
        <select class="combo-box">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
        </select>
      </div>
    </div>

    <!--Navigate-->
    <div class="col-md-12 col-sm-12 navigate">
      <button class="back btn btn-default" (click)="registerService.back()">
        <i class="fa fa-arrow-left"></i>Back</button>
      <button class="next btn btn-primary" (click)="registerService.next()">
        Next
        <i class="fa fa-arrow-right"></i>
      </button>
    </div>

  </div>
</div>
