<nav class="navbar navbar-default navbar-fixed-top" id="bar">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="home">
        <img src="../assets/img/minderz_logo_3.png" width="100" height="40" class="d-inline-block align-top" alt="">
      </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbsar">
      <ul class="nav navbar-nav">
        <li class="active">
          <a routerLink="profile">Search for sitter</a>
        </li>


      </ul>
      <ul class="nav navbar-nav navbar-right">
         <li>
          <a routerLink="profile"><span>
            <span class="glyphicon glyphicon-earphone"> </span> +27 123 457 890

          </span></a>
        </li>
        <li>
          <a routerLink="miniDash"  ><span>
            <span class="glyphicon glyphicon-briefcase"></span>  Services</span> </a>
        </li>
        <li>
          <a routerLink="signIn" ><span>
            <span class="glyphicon glyphicon-user"></span> Sign in</span></a>
        </li>
        <li>
          <a routerLink="signUp"  ><span>
            <span class="glyphicon glyphicons-user-add"></span> Sign up</span></a>
        </li>
        <li>
          <a routerLink="becomeaSitter" > <span class="bSitter">
              Become a sitter
          </span></a>
        </li>
      </ul>
    </div>
  </div>
</nav>



<!-- <script>
  var navbar = document.getElementById("bar");
  window.onscroll = function () {
    if (window.pageYOffset > 100) {
      navbar.style.background-color === "#fff";
    } else {
      navbar.style.background-color === 'transparent';
    }
  };

  </script> -->

