<nav class="navbar navbar-inverse navbar-fixed-top appnav">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="home">
        <img src="../assets/img/minderz_logo_3.png" width="95" height="50" class="d-inline-block align-top" alt="MinderZ">
      </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
          <li>
              <a routerLink="become">
                <span>
                    <i class="fa fa-plus" aria-hidden="true"></i> Become a sitter</span>
              </a>
            </li>
            <li>
                <a routerLink="sitter-profile-listings">
                  <span>
                    <i class="fa fa-search" aria-hidden="true"></i> Search for sitter</span>
                </a>
              </li>
        <li>
          <a href="#service">
            <span>
              <span class="glyphicon glyphicon-briefcase"></span> Services</span>
          </a>
        </li>

        <li>
          <a routerLink="profile">
            <span>
              <span class="glyphicon glyphicon-earphone"> </span> +27 021 552 6371
            </span>
          </a>
        </li>
      </ul>
      <div class="nav navbar-nav" *ngIf="auth.user$ | async as user; else anonymousUser">
        <li>
          <a routerLink="profile">
            <span>
              <i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard</span>
          </a>
        </li>

        <li>
          <a>
            <span (click)="logout()">
              <i class="fa fa-sign-out" aria-hidden="true"></i> Logout</span>
          </a>
        </li>
      </div>
      <ng-template #anonymousUser>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a routerLink="signIn">
              <span>
                <span class="glyphicon glyphicon-user"></span> Login</span>
            </a>
          </li>
        </ul>
      </ng-template>
    </div>
  </div>
</nav>
