<div class="container">

  <form class="well form-horizontal" action=" " method="post" id="contact_form">
    <fieldset>
      <legend>Step 1 of 4:Sitter Details</legend>
      <div>
        <div class="form-group">
          <label class="col-md-4 control-label">Address</label>
          <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="glyphicon glyphicon-home"></i>
              </span>
              <input name="address" placeholder="Address" class="form-control" type="text">
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label"></label>
          <div class="col-md-4">
            <button type="submit" class="btn btn-warning">Submit
              <span class="glyphicon glyphicon-send"></span>
            </button>
          </div>
        </div>

      </div>
    </fieldset>
  </form>
</div>

<div class="container">

  <form class="well form-horizontal" action=" " method="post" id="contact_form">
    <fieldset>

      <div class="form-group">
        <label class="col-md-4 control-label">Picture</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="glyphicon glyphicon-camera"></i>
            </span>
            <button type="button" class="btn btn-default form-control">Choose File</button>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label">Your Age</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-birthday-cake"></i>
            </span>
            <input name="age" placeholder="Age" class="form-control" type="text">
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label">Your Gender</label>
        <div class="col-md-4">
          <div class="radio">
            <label>
              <input type="radio" name="gender" value="male" /> Male
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="gender" value="female" /> Female
            </label>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label">Zip Code</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="glyphicon glyphicon-home"></i>
            </span>
            <input name="zip" placeholder="Zip Code" class="form-control" type="text">
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label">Your SA ID Number</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-id-card"></i>
            </span>
            <input name="IDNum" placeholder="13 digit SA ID number" class="form-control" type="text">
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label">Upload Copy of ID</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="glyphicon glyphicon-camera"></i>
            </span>
            <button type="button" class="btn btn-default form-control">Choose File</button>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label">Upload Signed Consent Form</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="glyphicon glyphicon-camera"></i>
            </span>
            <button type="button" class="btn btn-default form-control">Choose File</button>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label">Emergency Contact Name</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-heart-o"></i>
            </span>
            <input name="emergencyname" placeholder="Emergency Contact Name" class="form-control" type="text">
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label">Emergency Contact Number</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="	fa fa-medkit"></i>
            </span>
            <input name="emergencynumber" placeholder="Emergency Contact Number" class="form-control" type="text">
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label"></label>
        <div class="col-md-4">
          <button class="btn btn-primary">Back
            <span class="fa fa-arrow-left"></span>
          </button>
          <button class="btn btn-warning">Next
            <span class="fa fa-arrow-right"></span>
          </button>
        </div>
      </div>

    </fieldset>
  </form>
</div>

<div class="container">

  <form class="well form-horizontal" action=" " method="post" id="contact_form">
    <fieldset>

      <div class="form-group">
        <label class="col-md-4 control-label">Job Distance Radius</label>
        <div class="col-md-4 selectContainer">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-map-marker"></i>
            </span>
            <select name="distance" class="form-control selectpicker">
              <option>10km</option>
              <option>20km</option>
              <option>50km</option>
            </select>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label">Pet Size Preference</label>
        <div class="col-md-4 selectContainer">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-map-marker"></i>
            </span>
            <select name="preferredsize" class="form-control selectpicker">
              <option>small</option>
              <option>small-medium</option>
              <option>any size</option>
            </select>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label">Pet Type Preference</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <label class="checkbox-inline">
              <input type="checkbox" value="">Dogs</label>
            <label class="checkbox-inline">
              <input type="checkbox" value="">Cats</label>
            <label class="checkbox-inline">
              <input type="checkbox" value="">Fish</label>
            <label class="checkbox-inline">
              <input type="checkbox" value="">Birds</label>
            <label class="checkbox-inline">
              <input type="checkbox" value="">Other</label>
          </div>
        </div>
      </div>

      <div class="form-group">
        <h3 class="col-md-4 col-sm-4 control-label">Walking Dog</h3>
      </div>


      <div class="form-group">
        <label class="col-md-4 control-label">Price per Walk</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-money"></i>
            </span>
            <input name="priceperwalk" placeholder="Price" class="form-control" type="text">
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label">Pets per Walk</label>
        <div class="col-md-4 selectContainer">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-paw"></i>
            </span>
            <select name="petsperwalk" class="form-control selectpicker">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
            </select>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label">Walks per Day</label>
        <div class="col-md-4 selectContainer">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-paw"></i>
            </span>
            <select name="preferredsize" class="form-control selectpicker">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
            </select>
          </div>
        </div>
      </div>

      <div class="form-group">
        <h3 class="col-md-4 col-sm-4 control-label">Pet Sitting</h3>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label">Price per Pet</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-money"></i>
            </span>
            <input name="priceperpet" placeholder="Price" class="form-control" type="text">
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label">Pets per Day</label>
        <div class="col-md-4 selectContainer">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-paw"></i>
            </span>
            <select name="petsperday" class="form-control selectpicker">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
            </select>
          </div>
        </div>
      </div>

      <div class="form-group">
        <h3 class="col-md-4 col-sm-4 control-label">House Sitting</h3>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label">Price</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-money"></i>
            </span>
            <input name="price" placeholder="Price" class="form-control" type="text">
          </div>
        </div>
      </div>

      <div class="form-group">
        <h3 class="col-md-4 col-sm-4 control-label">Drop-in Visits</h3>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label">Price per Visit</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-money"></i>
            </span>
            <input name="pricepervisit" placeholder="Price" class="form-control" type="text">
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label">Visits per Day</label>
        <div class="col-md-4 selectContainer">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-paw"></i>
            </span>
            <select name="visitsperday" class="form-control selectpicker">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
            </select>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label"></label>
        <div class="col-md-4">
          <button class="btn btn-primary">Back
            <span class="fa fa-arrow-left"></span>
          </button>
          <button class="btn btn-warning">Next
            <span class="fa fa-arrow-right"></span>
          </button>
        </div>
      </div>

    </fieldset>
  </form>
</div>

<div class="container">

  <form class="well form-horizontal" action=" " method="post" id="contact_form">
    <fieldset>

      <legend>Step 4 of 4:Sitter Details</legend>

      <div class="form-group">
        <label class="col-md-4 control-label">House Type:</label>
        <div class="col-md-4 selectContainer">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="glyphicon glyphicon-home"></i>
            </span>
            <select name="house" class="form-control selectpicker">
              <option value=" ">Flat</option>
              <option>House without a yard</option>
              <option>House with a yard</option>


            </select>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label">Children</label>
        <div class="col-md-4 selectContainer">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-child" aria-hidden="true"></i>
            </span>
            <select name="children" class="form-control selectpicker">
              <option value=" ">Yes</option>
              <option>No</option>


            </select>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label">Experience</label>
        <div class="col-md-4 selectContainer">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="glyphicon glyphicon-list"></i>
            </span>
            <select name="experience" class="form-control selectpicker">
              <option value=" ">No Experience</option>
              <option>1 Year</option>
              <option>2 Year</option>
              <option>3 Year</option>
              <option>4+ Year</option>

            </select>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label">HeadLine:</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="glyphicon glyphicon-home"></i>
            </span>
            <input name="headline" placeholder="Headline" class="form-control" type="text">
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label">About You:</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="glyphicon glyphicon-pencil"></i>
            </span>
            <textarea class="form-control" name="aboutYou"></textarea>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label">Done Volunteer work for Pets?</label>
        <div class="col-md-4 selectContainer">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-paw" aria-hidden="true"></i>
            </span>
            <select name="volunteerPets" class="form-control selectpicker">
              <option value=" ">Yes</option>
              <option>No</option>


            </select>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label">Do You Own Pets?</label>
        <div class="col-md-4 selectContainer">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-paw" aria-hidden="true"></i>
            </span>
            <select name="ownPets" class="form-control selectpicker">
              <option value=" ">Yes</option>
              <option>No</option>


            </select>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label">Have You Owned Pets</label>
        <div class="col-md-4 selectContainer">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-paw" aria-hidden="true"></i>
            </span>
            <select name="ownedPets" class="form-control selectpicker">
              <option value=" ">Yes</option>
              <option>No</option>


            </select>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label">Reference 1 Name:</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="glyphicon glyphicon-user"></i>
            </span>
            <input name="ref1Name" placeholder="Reference 1 Name" class="form-control" type="text">
          </div>
        </div>
      </div>


      <div class="form-group">
        <label class="col-md-4 control-label">Reference 1 Phone:</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="glyphicon glyphicon-earphone"></i>
            </span>
            <input name="ref1Phone" placeholder="Reference 1 Phone" class="form-control" type="text">
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label">Reference 2 Name:</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="glyphicon glyphicon-user"></i>
            </span>
            <input name="ref2Name" placeholder="Reference 2 Name" class="form-control" type="text">
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label">Reference 2 Phone:</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="glyphicon glyphicon-earphone"></i>
            </span>
            <input name="ref2Phone" placeholder="Reference 2 Phone" class="form-control" type="text">
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 control-label"></label>
        <div class="col-md-4">
          <button type="back" class="btn btn-warning"> Back
            <span class="glyphicon glyphicon-send"></span>
          </button>

          <button type="submit" class="btn btn-warning">Submit
            <span class="glyphicon glyphicon-send"></span>
          </button>
        </div>
      </div>


    </fieldset>
  </form>
</div>
