<div class="section" *ngIf="hide">
  <div class="text-center ">

    <h1 class="pinkish">Why you'll love working with Minderz!</h1>
  </div>


  <div class="row text-centder">
    <div class=" col-md-2">
    </div>
    <div class="col-md-4 ">

      <h4 class="text-musted">
        <span class="Pink">
          <i class="fa fa-check-circle-o fa-3x" aria-hidden="true"></i>
        </span> Freedom to choose your schedule, services, and rates.</h4>


      <br>
      <h4 class="text-musted">
        <span class="Pink">
          <i class="fa fa-check-circle-o fa-3x" aria-hidden="true"></i>
        </span> Secure payments.</h4>
    </div>

    <div class=" col-md-4">

      <h4 class="text-musted">
        <span class="Pink">
          <i class="fa fa-check-circle-o fa-3x" aria-hidden="true"></i>
        </span>You & booked-in pets are covered by insurances.</h4>
      <br>
      <h4 class="text-musted">
        <span class="Pink">
          <i class="fa fa-check-circle-o fa-3x" aria-hidden="true"></i>
        </span> Customer care support.
      </h4>
    </div>

    <div class=" col-md-1">
    </div>

  </div>
  <br>


  <section>

    <div class="howitworks">
      <h1 class="Pink text-center">How it works </h1>
      <p class="text-center">Only the best sitters and dog walkers get listed on Minderz. If you have personal or professional experience watching
        pets or walking dogs, you could be a great fit.</p>
      <br>

      <div class="row rowfix">
        <div class="col-md-5 col-sm-5">
            <p class="details">
              <img src="../../../assets/img/resume.png" class="logoImg" alt="formLogo"><h3> Set up your profile.
              </h3> Tell us what makes you a standout sitter and include details of your pet sitting or dog walking experience.
            </p>
   </div>

        <div class="col-md-5 col-sm-5">
            <p class="details">
                <img src="../../../assets/img/calendar.png" class="logoImg" alt="calenderLogo"><h3> Organise your Calendar.
                </h3>Choose your services, rates, and block out the days you're unavailable, eg. going on holiday.
              </p>
        </div>

      </div>








  <br>
      <div class="row rowfix">
        <div class="col-md-5 col-sm-5">
   <p class="details">
                <img src="../../../assets/img/image.png" class="logoImg" alt="imagelogo"><h3> Add Photos
                </h3> Adding photos that portray you as an animal lover with a safe home. Having a clear professional profile image is key as this
                will display as a thumbnail across the site.
              </p>
        </div>




        <div class="col-md-5 col-sm-5">
          <p class="details">

            <img src="../../../assets/img/coin.png" class="logoImg" alt="coinlogo" ><h3> Respond to jobs & enquiries!
                       </h3>  Pet Owners will search their local area for Sitters and inquire with you directly.
                     </p>
               </div>

      </div>

  <div class="text-center">
    <button type="button" *ngIf="hide" class="text-center btn btn-md btn-primary mt-40" (click)="step1 = true; from = true; hide = false"> Get started</button>
  </div>

    </div>
  </section>
</div>


<form class="form" *ngIf="from" >

  <div class="form-group row">
    <label class="col-md-5 control-label">Have you ever volunteered at an animal rescue
      organization or taken care of pets?</label>
        <label>
          <input  type="radio" #havebeenaVolunteer="ngModel" ngModel name="havebeenaVolunteer" value="Yes"  (click)="question.everVolunteeredpetetCare = true;" required> Yes
        </label>

        <label>
          <input type="radio" #havebeenaVolunteer="ngModel" ngModel name="havebeenaVolunteer" value="No" (click)="question.everVolunteeredpetetCare = false;"  required> No
        </label>
  </div>

  <div class="form-group row">
    <label class="col-md-5 control-label">Have you had pets of your own?</label>
        <label>
          <input  type="radio" #hadPetb4="ngModel" ngModel name="hadPetb4" value="Yes"(click)="question.everhadPetsBefore = true;"  required> Yes
        </label>
        <label>
          <input type="radio" #hadPetb4="ngModel" ngModel name="hadPetb4" value="No"(click)="question.everhadPetsBefore = false;"  required> No
        </label>
<!-- <label >      <div class="radio" [style.background]="selected ? 'rgb(0, 0, 255)' : '#FFFFFF'" (click)="select()"></div></label> -->
  </div>

  <div class="form-group row">
    <label class="col-md-5 control-label">Do you currently have a pet?</label>
        <label>
          <input  type="radio" #HavePetsCurrently="ngModel" ngModel name="HavePetsCurrently" value="Yes" (click)="question.isCurrentlyOwningPets = true;"  required> Yes
        </label>
        <label>
          <input type="radio" #HavePetsCurrently="ngModel" ngModel name="HavePetsCurrently" value="No" (click)="question.isCurrentlyOwningPets = false;"   required> No
        </label>
  </div>




  <div class="form-group row">
    <label class="col-md-5 control-label">Do you feel competent to look after baby animals?</label>
        <label>
          <input type="radio" #isCompetentToAnimals="ngModel" ngModel name="isCompetentToAnimals" value="Yes" (click)="question.competentForpets = true;"  required> Yes
        </label>
        <label>
          <input type="radio" #isCompetentToAnimals="ngModel" ngModel name="isCompetentToAnimals" value="No" (click)="question.competentForpets = false;"  required> No
        </label>
  </div>

  <div class="form-group row">
    <label class="col-md-5 control-label">Can you provide two current references with phone
      numbers?</label>
        <label>
          <input type="radio" #HaveRefNumber="ngModel" ngModel name="HaveRefNumber" value="Yes" (click)="question.havetwoRefToCall = true;"  required> Yes
        </label>
        <label>
          <input type="radio" #HaveRefNumber="ngModel" ngModel name="HaveRefNumber" value="No" (click)="question.havetwoRefToCall = false;"   required> No
        </label>
  </div>

  <div class="form-group row">
    <label class="col-md-5 control-label">Do you have a clear criminal history?</label>
        <label>
          <input type="radio" #HasacriminalRecord="ngModel" ngModel name="HasacriminalRecord" value="Yes" (click)="question.haveACriminalRecord = true;"  required> Yes
        </label>
        <label>
          <input type="radio" #HasacriminalRecord="ngModel" ngModel name="HasacriminalRecord" value="No" (click)="question.haveACriminalRecord = false;"   required> No
        </label>
  </div>

  <div class="form-group row">
    <label class="col-md-5 control-label">Would you agree to a background check?</label>
        <label>
          <input type="radio" #agreeToBackgroundCheck="ngModel" ngModel name="agreeToBackgroundCheck" value="Yes" (click)="question.agreeingForBackgroundCheck = true;"  required> Yes
        </label>
        <label>
          <input type="radio" #agreeToBackgroundCheck="ngModel" ngModel name="agreeToBackgroundCheck" value="No" (click)="question.agreeingForBackgroundCheck = false;"  required> No
        </label>
  </div>


<div class="form-group">
  <label class="col-md-4 control-label">How many years of experience do you have with pet care ?</label>
  <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
      <label class="checkbox-inline">
        <input type="checkbox" value="None">None</label>
      <label class="checkbox-inline">
        <input type="checkbox" value="1-2 Years">1-2 Years</label>
      <label class="checkbox-inline">
        <input type="checkbox" value="3-5 Years">3-5 Years</label>
      <label class="checkbox-inline">
        <input type="checkbox" value="5+ Years">5+ Years</label>
    </div>
  </div>
</div>
<button class="btn btn-lg btn-primary" (click)="newsitter() " type="submit">Begin
</button>


</form>

