.intro-image {
  /* overflow: hidden; */
  background-image: url("../../../../assets/img/Main_dog_image.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 753px;
  background-position: center;
  width: 100%;
}

#display {
  width: 100%;
  padding: 80px 300px;
}

.card {
  border-style: solid;
  border-width: 1px;
  border-color: white;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 35px 35px 50px 35px;
  border-radius: 7px;
}

#cardHeader {
  font-size: 40px;
  color: #ff978f;
  text-align: center;
  font-weight: bold;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
}

#cardSubHeader {
  font-size: 15px;
  color: rgb(0, 6, 69);
  color: rgba(0, 6, 69, 0.3);
  font-weight: normal;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
}

#submit {
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.06), 2px 3px 0 rgba(0, 0, 0, 0.05);
  border: none;
  background: #008cff;
}

#navigate {
  text-align: center;
}

.spacing {
  margin-bottom: 20px;
}

@media(max-width: 1080px) {
  #display {
    padding: 80px 200px;
  }
}

@media(max-width: 768px) {
  #display {
    padding: 40px 50px;
  }
}

@media(max-width: 420px) {
  #display {
    padding: 20px 10px;
  }
}
