<div class="container">

  <form class="well form-horizontal" action=" " method="post" id="pet_register">
    <fieldset>

      <div class="form-group">
        <label class="col-md-4 control-label">Type of Pet</label>
        <div class="col-md-4 selectContainer">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-paw"></i>
            </span>
            <select name="pettype" class="form-control selectpicker">
              <option>Dog</option>
              <option>Cat</option>
              <option>Other</option>
            </select>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label">Your Pet's Name</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-id-card-o"></i>
            </span>
            <input name="pet_name" placeholder="Pet Name" class="form-control" type="text">
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label">Gender</label>
        <div class="col-md-4">
          <div class="radio">
            <label>
              <input type="radio" name="gender" value="yes" /> Male
            </label>
            <label>
              <input type="radio" name="gender" value="no" /> Female
            </label>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label">Your Pet's Breed</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-paw"></i>
            </span>
            <input name="breed" placeholder="Pet breed" class="form-control" type="text">
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label">How often do you treat your pet for flees?</label>
        <div class="col-md-4 selectContainer">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-plus-square"></i>
            </span>
            <select name="fleetreatment" class="form-control selectpicker">
              <option>Dog</option>
              <option>Cat</option>
              <option>Other</option>
            </select>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label">Fine to stay with children?</label>
        <div class="col-md-4 selectContainer">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-child"></i>
            </span>
            <select name="petandchildren" class="form-control selectpicker">
              <option>Not ok with children</option>
              <option>Fine with children of all ages</option>
              <option>Fine with children over age 2</option>
              <option>Fine with children over age 5</option>
              <option>Fine with children over age 8</option>
              <option>Fine with children over age 10</option>
            </select>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label"></label>
        <div class="col-md-4">
          <button class="btn btn-primary">Back
            <span class="fa fa-arrow-left"></span>
          </button>
          <button class="btn btn-warning">Next
            <span class="fa fa-arrow-right"></span>
          </button>
        </div>
      </div>

    </fieldset>
  </form>
</div>