<!-- <div class="Page">
  <h1>404</h1>
  <h2>Page Not Found</h2>

  <p>Sorry, I couldn't find the page you were looking for.</p>

  <p>Try going <a (click)="back()">back </a>, perhaps<a href="../"> Home?</a> .</p>
</div>
<div class="pushback">
	
</div> -->




 <div class="container-fluid" style="width:990px;">
 
   <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Organization Information</h3>
    </div>

    <div class="panel-body">
    
     <div class="col-lg-2 dash-widget">
        <div class="label-primary" style="padding: 5px; border-radius: 6px;">
            <button class="btn btn-primary btn-lg btn-block disabled" role="button" style="padding: 2px;">
                <div class="fa fa-clock-o fa-3x"></div>
                <div class="icon-label">Time Zone</div>
            </button> 
            <button class="btn btn-inverse btn-block" style="height: 40px;">
                Eastern
            </button>
        </div>
    </div>
    
      <div class="col-lg-2 dash-widget">
          <div class="label-primary" style="padding: 5px; border-radius: 6px;">
            <button class="btn btn-primary btn-lg btn-block disabled" role="button" style="padding: 2px;">
            <div class="fa fa-desktop fa-3x"></div>
            <div class="icon-label">
             Platform
            </div></button> <button class="btn btn-inverse btn-block" style="height: 40px;">TIX2</button>
          </div>
        </div>
    
 
    
        <div class="col-lg-2 dash-widget">
          <div class="label-primary" style="padding: 5px; border-radius: 6px;">
            <button class="btn btn-primary btn-lg btn-block disabled" role="button" style="padding: 2px;">
            <div class="fa fa-shopping-cart fa-3x"></div>
            <div class="icon-label">
              Gateway
            </div></button> <button class="btn btn-inverse btn-block" style="height: 40px;">Eastern</button>
          </div>
        </div>
        
       
  
        
        <div class="col-lg-2 dash-widget">
          <div class="label-primary" style="padding: 5px; border-radius: 6px;">
            <button class="btn btn-primary btn-lg btn-block disabled" role="button" style="padding: 2px;">
            <div class="fa fa-print fa-3x"></div>
            <div class="icon-label">
             Fullfilment
            </div></button> <button class="btn btn-inverse btn-block" style="height: 40px;">Yes</button>
          </div>
        </div>
        
        <div class="col-lg-2 dash-widget">
          <div class="label-primary" style="padding: 5px; border-radius: 6px;">
            <button class="btn btn-primary btn-lg btn-block disabled" role="button" style="padding: 2px;">
            <div class="fa fa-suitcase fa-3x"></div>
            <div class="icon-label">
             Sales Rep
            </div></button> <button class="btn btn-inverse btn-block" style="height: 40px;">Name Name</button>
          </div>
        </div>
        
        <div class="col-lg-2 dash-widget">
          <div class="label-primary" style="padding: 5px; border-radius: 6px;">
            <button class="btn btn-primary btn-lg btn-block disabled" role="button" style="padding: 2px;">
            <div class="fa fa-user fa-3x"></div>
            <div class="icon-label">
             Contact
            </div></button> <button class="btn btn-inverse btn-block" style="height: 40px;">Name Name</button>
          </div>
        </div>
  <br>

        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">...</div>
          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
          <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
        </div>
         
	</div>
</div>
