/* Radio Button */

.radio {
  border: 2px solid #DDDDDD;
  border-radius: 100%;
  width: 20px;
  height: 20px;
}

.selected {
  border: 2px solid #204d74;
  background: #286090;
}

.unselected {
  border: 2px solid #DDDDDD;
  background: #FFFFFF;
}
