<div class="container-fluid">
	<div class="row">
		

		
<div class="text-center Pink">

    <h1 class="">Why you'll love working with Minderz!</h1>
  </div>
  <br>

<div class="col-md-12">
	<div class="col-md-2"></div>
	<div class="col-md-4">
		<span>
	<i class="fa fa-check-circle-o fa-5x Pink" aria-hidden="true"></i> 
       Freedom to choose your schedule, services, and rates.</span>
	</div>
	<div class="col-md-4">
	<span>
	<i class="fa fa-check-circle-o fa-5x Pink" aria-hidden="true"></i> 
       Secure payments.</span>
	</div>
</div>

<div class="col-md-12">
	<div class="col-md-2"></div>
	<div class="col-md-4">
		<span>
	<i class="fa fa-check-circle-o fa-5x Pink" aria-hidden="true"></i> 
      You & booked-in pets are covered by insurances.</span>
	</div>
	<div class="col-md-4">
	<span>
	<i class="fa fa-check-circle-o fa-5x Pink" aria-hidden="true"></i> 
       Secure payments.</span>
	</div>
</div>



 <div class="col-md-12 text-center">
      <h1 class="Heading ">How it works </h1>
      <p class="text-muted">Only the best sitters and dog walkers get listed on Minderz. If you have personal or professional experience watching pets or walking dogs, you could be a great fit.</p>
 </div>
      <br>


 <div class="col-md-12 col-sm-12">
	<div class="col-md-2"></div>

	<div class="col-md-5">
	  <span class="details">
            <img src="../../../assets/img/resume.png" class="assets" alt="form icon">
            <h3> Set up your profile.</h3>Tell us what makes you a standout sitter and include details of your pet sitting or dog walking experience.</span>
    </div>

	<div class="col-md-5">
		<span class="details">
            <img src="../../../assets/img/calendar.png" class="assets" alt="calender icon">
            <h3> Organise your Calendar.</h3>Choose your services, rates, and block out the days you're unavailable, eg. going on holiday.</span>
	</div>
  </div>

 <div class="col-md-12 col-sm-12">
	<div class="col-md-2"></div>

	<div class="col-md-5">
	 <span class="details">
                <img src="../../../assets/img/image.png" class="assets" alt="image icon">
                <h3> Add Photos</h3>
                Adding photos that portray you as an animal lover with a safe home. Having a clear professional profile image is key as this
                will display as a thumbnail across the site.</span>
    </div>

	<div class="col-md-5">
	<span class="details">
            <img src="../../../assets/img/coin.png" class="assets" alt="coin icon" >
            <h3> Respond to jobs & enquiries!</h3> 
            Pet Owners will search their local area for Sitters and inquire with you directly.</span>
	</div>
  </div>





<div class="text-center">
<button class="btn btn-md btn-primary" (click)="cache.questionair = 2" type="button">Next</button>
</div>

	</div>
	<!-- row end -->
</div>	
<!-- container-fluid end -->