
<section class="intro-image">
    <div class="inner">
  <!-- <img src="../assets/img/dog.jpg" alt=""  > -->
      <div class="content">

      </div>
    </div>
  </section>

  <button class="go btn btn-info" type="submit" routerLink="geolocation">Go</button>



<section class="sitter">

    <h1>
      Find your sitter</h1>
    <p>We connect you to well-vetted animal lovers in your area.</p>
    <div class="row">
      <div class="col-md-4">
        <div class="group">
          <img src="../assets/img/170612_Minder_Social_30maySearch-8.png" class="img" alt="">
          <!-- <div class="maySearch"></div> -->
          <h6>Read reviews from other pet parents and pick the perfect sitter.</h6>
        </div>
      </div>
      <div class="col-md-4">
        <div class="group">
          <img src="../assets/img/170612_Minder_Social_30mayBook-8.png" class="img" alt="">
          <h6>Book and pay for your services online.</h6>
        </div>
      </div>
      <div class="col-md-4">
        <div class="group">
          <img src="../assets/img/Car_selected.png" class="img" alt="missing car image">
          <h6>Get 24/7 support, reservation guarantee, and insurance.</h6>
        </div>
      </div>
    </div>
  </section>

  <section class="Services ">
    <h1>
      Services</h1>
    <div class="row">
      <div class="col-md-5">
        <div class="row">
          <img src="../assets/img/170612_Minder_Social_30mayHousitting_selected-8.png" alt="">
          <div class="sitting mg-top-75">
            <h4>Pet & House Sitting</h4>
            <h6>A sitter stays overnight at your home, taking care of your pets and home</h6>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="row">
          <img src="../assets/img/170612_Minder_Social_30mayBoarding_Selected-8.png" alt="">
          <div class="boarding mg-top-75">
            <h4>Pet Boarding</h4>
            <h6>Your pets stay overnight at the sitter’s home</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <div class="row">
          <img src="../assets/img/170612_Minder_Social_30maydogwalking_select-8.png" alt="">
          <div class="walking mg-top-75">
            <h4>Dog Walking</h4>
            <h6>Your pet gets a walk from a pet walker</h6>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="row">
          <img src="../assets/img/170612_Minder_Social_30mayDropin visits_logo lockup-8.png" alt="">
          <div class="dropin mg-top-75">
            <h4>Drop-in Visits</h4>
            <h6>A sitter checks in on your pets during the day for feeding and some play time.</h6>
          </div>
        </div>
      </div>

    </div>
  </section>
