.img{
  height:200px;
  width:250px;
  }

 .Services{
    color: #8c8c8c;
    background-color:#e7e7e7;
  }
  .intro-image{
  overflow: hidden;
  background-image:url('../../../assets/img/Main_dog_image.jpg') ;
  background-size: cover;
  background-attachment:fixed;
  height: 753px !important;
  background-position: center;
  }
.subFont{
  font-family: 'Poiret One', cursive;
  font-size:18px;

}
