<div class="container-fluid">
  <div class="row">

    <section class="home">
      <app-home-page-filter></app-home-page-filter>
    </section>

    <section class="sitter">
      <div class="row text-center">

        <p Class="Content-heading">Find your sitter</p>
        <div Class="Sitter-subHeading">
          <h1>We connect you to well-vetted animal lovers in your area.</h1>
        </div>
      </div>

      <div class="SitterRow">

        <div class="panel">
          <div class="group">
            <img src="../assets/img/170612_Minder_Social_30maySearch-8.png" class="img" alt="">
            <h4 class="text-muted subFont">Read reviews from other pet parents and pick the perfect sitter.</h4>
          </div>
        </div>

        <div class="panel">
          <div class="group">
            <img src="../assets/img/170612_Minder_Social_30mayBook-8.png" class="img" alt="">
            <h4 class="text-muted subFont">Book and pay for your services online.</h4>
          </div>
        </div>

        <div class="panel">
          <div class="group">
            <img src="../assets/img/Car_selected.png" class="img" alt="missing car image">
            <h4 class="text-muted subFont">Get 24/7 support, reservation guarantee, and insurance.</h4>
          </div>
        </div>
      </div>

      <!-- </div> -->
    </section>

    <section class="Services ">
      <div class="text-center">
        <p class="Content-heading">Services</p>
      </div>

      <div class="Service-content row">
        <span class="col-md-2"></span>
        <div class="col-md-4">
          <div class="row">
            <div>
              <img class="col-md-4" src="../assets/img/170612_Minder_Social_30mayHousitting_selected-8.png" alt="">
            </div>
            <div class="sittisng mg-tsop-75">
              <h2>Pet & House Sitting</h2>
              <h5 class="text-muted subFont">A sitter stays overnight at your home, taking care of your pets and home</h5>
            </div>
          </div>

        </div>
        <div class="col-md-4">
          <div class="row">
            <img class="col-md-4" src="../assets/img/170612_Minder_Social_30mayBoarding_Selected-8.png" alt="">
            <div class="boarding mg-top-75">
              <h2>Pet Boarding</h2>
              <h5 class="text-muted subFont">Your pets stay overnight at the sitter’s home</h5>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <span class="col-md-2"></span>

        <div class="col-md-4">
          <div class="row">
            <img class="col-md-4" src="../assets/img/170612_Minder_Social_30maydogwalking_select-8.png" alt="">
            <div class="walking mg-top-75">
              <h2>Dog Walking</h2>
              <h5 class="text-muted subFont">Your pet gets a walk from a pet walker</h5>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <img class="col-md-4" src="../assets/img/170612_Minder_Social_30mayDropin visits_logo lockup-8.png" alt="">
            <div class="dropin mg-top-75">
              <h2>Drop-in Visits</h2>
              <h5 class="text-muted subFont">A sitter checks in on your pets during the day for feeding and some play time.</h5>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="testimonials row">

      <div class="text-center">
        <p class="Content-heading">Testimonials</p>
      </div>

      <div class="placehold"></div>
      <div class="test">
        <div class="col-md-2"></div>
        <div class="col-md-3">
          <figure class=" testimonial hover">
            <blockquote>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id nulla incidunt velit, molestiae numquam fugit, suscipit,
              unde odit repudiandae eligendi minus. Tempora adipisci voluptatem non debitis magni eveniet itaque aut.\</blockquote>
            <div class="author">
              <img src="https://qa.minderz.co.za/wp-content/uploads/job-manager-uploads/company_gallery/2017/09/484433611-64x64.jpg" alt="">
              <h5>Max Conversion</h5>
              <span>LittleSnippets</span>
            </div>
          </figure>
        </div>
        <div class="col-md-3">
          <figure class="testimonial">
            <blockquote>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id nulla incidunt velit, molestiae numquam fugit, suscipit,
              unde odit repudiandae eligendi minus. Tempora adipisci voluptatem non debitis magni eveniet itaque aut.\</blockquote>
            <div class="author">
              <img src="https://i.pinimg.com/564x/46/2e/f0/462ef0603fb676d32419976dca8686ca.jpg" alt="sq-sample12" />
              <h5>Eleanor Faint</h5>
              <span>LittleSnippets</span>
            </div>
          </figure>
        </div>
        <div class="col-md-3">
          <figure class="testimonial">
            <blockquote>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id nulla incidunt velit, molestiae numquam fugit, suscipit,
              unde odit repudiandae eligendi minus. Tempora adipisci voluptatem non debitis magni eveniet itaque aut.\</blockquote>
            <div class="author">
              <img src="https://qa.minderz.co.za/wp-content/uploads/job-manager-uploads/company_gallery/2017/09/20140531123809-2_dogs_girl_113951887-64x64.jpg"
                alt="sq-sample12" />
              <h5>Eleanor Faint</h5>
              <span>LittleSnippets</span>
            </div>
          </figure>
        </div>
      </div>

    </section>

    <app-footer></app-footer>

  </div>
</div>
