.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.twitter {
  background-color: #1da1f2;
  color: #fff;
}

input:focus {
  border-color: #ff978f;
}

.facebook {
  background-color: #4267b2;
  text-transform: capitalize;
}

.google {
  text-transform: capitalize;
}

.custom {
  background-color: #ff978f;
  text-transform: capitalize;
}

.formtoggler {
  /* color: #1da1f2; */
  cursor: pointer;
  line-height: 2;
}

/* -------------------------------------------------------------------------------------------------- */

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #00a545;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 85%;
  top: 90px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 1.5s, fadeout 1.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    right: 0;
    opacity: 0;
  }
  to {
    right: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    right: 0;
    opacity: 0;
  }
  to {
    right: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    right: 30px;
    opacity: 1;
  }
  to {
    right: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    right: 30px;
    opacity: 1;
  }
  to {
    right: 0;
    opacity: 0;
  }
}

@media (min-width: 768px) {
  #footer {
    bottom: 0;
    position: absolute;
    width: 100%;
  }
}
.Or{
  position: relative;
  margin-left: 145px;
    margin-top: -32px;
    height: 50px;

}
