<div class="container">

  <form class="well form-horizontal" action=" " method="post" id="contact_form">
    <fieldset>

      <div class="form-group">
        <label class="col-md-4 control-label">Picture</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="glyphicon glyphicon-camera"></i>
            </span>
            <button type="button" class="btn btn-default form-control">Choose File</button>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label">Your Age</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-birthday-cake"></i>
            </span>
            <input name="age" placeholder="Age" class="form-control" type="text">
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label">Your Gender</label>
        <div class="col-md-4">
          <div class="radio">
            <label>
              <input type="radio" name="gender" value="male" /> Male
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="gender" value="female" /> Female
            </label>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label">Zip Code</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="glyphicon glyphicon-home"></i>
            </span>
            <input name="zip" placeholder="Zip Code" class="form-control" type="text">
          </div>
        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label">Your SA ID Number</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-id-card"></i>
            </span>
            <input name="IDNum" placeholder="13 digit SA ID number" class="form-control" type="text">
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label">Upload Copy of ID</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="glyphicon glyphicon-camera"></i>
            </span>
            <button type="button" class="btn btn-default form-control">Choose File</button>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label">Upload Signed Consent Form</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="glyphicon glyphicon-camera"></i>
            </span>
            <button type="button" class="btn btn-default form-control">Choose File</button>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label">Emergency Contact Name</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-heart-o"></i>
            </span>
            <input name="emergencyname" placeholder="Emergency Contact Name" class="form-control" type="text">
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label">Emergency Contact Number</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="	fa fa-medkit"></i>
            </span>
            <input name="emergencynumber" placeholder="Emergency Contact Number" class="form-control" type="text">
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label"></label>
        <div class="col-md-4">
          <button class="btn btn-primary">Back
            <span class="fa fa-arrow-left"></span>
          </button>
          <button class="btn btn-warning">Next
            <span class="fa fa-arrow-right"></span>
          </button>
        </div>
      </div>

    </fieldset>
  </form>
</div>