<div [formGroup]='personForm'>
    <div>
        <div>
            <label for="profile-picture">Upload Profile Picture:</label>
        </div>
        <div>
            <input formControlName="profilePic" (change)="onFileChange($event)" id="profile-picture" type="file">
        </div>
        <div>
            <img src="" alt="image preview...">
        </div>
    </div>

    <div>
        <div>
            <label for="age">Your Age:</label>
        </div>
        <div>
            <input id="age" placeholder="Your Age" type="text">
        </div>
    </div>

    <div>
        <div>
            <label for="gender">Your Gender:</label>
        </div>
        <div>
            <!-- Yes -->
            <div class="radio"></div>
            <label>Male</label>

            <!-- No -->
            <div class="radio"></div>
            <label>Female</label>
        </div>
    </div>

    <div>
        <div>
            <label for="phoneNr">Your Phone Number:</label>
        </div>
        <div>
            <input id="phoneNr" placeholder="Your Phone Number" type="text">
        </div>
    </div>

    <div>
        <div>
            <label for="idNr">Your SA ID Number</label>
        </div>
        <div>
            <input id="idNr" placeholder="Your SA ID Number" type="text">
        </div>
    </div>

    <div>
        <div>
            <label for="copy-of-id">Upload Copy Of ID:</label>
        </div>
        <div>
            <input id="copy-of-id" type="file">
        </div>
        <div>
            <img src="" alt="image preview...">
        </div>
    </div>

    <div>
        <div>
            <label for="consent-form">Upload Signed Consent Form:</label>
        </div>
        <div>
            <input id="consent-form" type="file">
        </div>
        <div>
            <img src="" alt="image preview...">
        </div>
    </div>

    <div>
        <div>
            <label for="emergency-contact-person">Emergency Contact Name:</label>
        </div>
        <div>
            <input id="emergency-contact-person" placeholder="Emergency Contact Name" type="text">
        </div>
    </div>

    <div>
        <div>
            <label for="emergency-phoneNr">Emergency Contact Number:</label>
        </div>
        <div>
            <input id="emergency-phoneNr" placeholder="Emergency Contact Number" type="text">
        </div>
    </div>

</div>