<div class="container-fluid">
  <button class="btn" (click)="editpart = true;"><i class="fa fa-edit">Edit</i></button>
  <div class="row">
    <div class="col-md-4">
      <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">Decription of pet.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Name </li>
          <li class="list-group-item">Pet type</li>
          <li class="list-group-item">Age</li>
        </ul>
        <div class="card-block">
          <a href="#" class="card-link">Edit Profile</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">Decription of pet.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Name </li>
          <li class="list-group-item">Pet type</li>
          <li class="list-group-item">Age</li>
        </ul>
        <div class="card-block">
          <a href="#" class="card-link">Edit Profile</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">Decription of pet.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Name </li>
          <li class="list-group-item">Pet type</li>
          <li class="list-group-item">Age</li>
        </ul>
        <div class="card-block">
          <a href="#" class="card-link">Edit Profile</a>
        </div>
      </div>
    </div>
  </div>
</div>