<!-- <nav class="navbar navbar-inverse ">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle greenie" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand " href="#"> Minderz</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">


      <ul class="nav navbar-nav navbar-item navbar-right">
        <li class="nav-item">
          <p class="navbar-link" routerLink="chats"> Search for sitter</p>
        </li>
        <li class="nav-item">
          <p class="navbar-link" routerLink="chats"> Services</p>
        </li>
        <li class="nav-item">
          <p class="navbar-link" routerLink="chats"> Sign in</p>
        </li>
        <li class="nav-item">
          <p class="navbar-link" routerLink="profile">become a sitter</p>
        </li>
      </ul>
    </div>
  </div>
</nav> -->











<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#"> </a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li> 
    </ul>
  </div> 
</nav>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">Features</a>
      <a class="nav-item nav-link" href="#">Pricing</a>
      <a class="nav-item nav-link disabled" href="#">Disabled</a>
    </div>
  </div>
</nav>















<section class="bg-info">
  <h1>
    Find your sitter</h1>
  <p>We connect you to well-vetted animal lovers in your area.</p>
  <div class="row">
    <div class="col-md-4">
      <div class="group">
        <img src="assets/img/170612_Minder_Social_30maySearch-8.png" alt="">
        <h6>Read reviews from other pet parents and pick the perfect sitter.</h6>
      </div>
    </div>
    <div class="col-md-4">
      <div class="group">
        <img src="assets/img/170612_Minder_Social_30mayBook-8.png" alt="">
        <h6>Book and pay for your services online.</h6>
      </div>
    </div>
    <div class="col-md-4">
      <div class="group">
        <img src="assets/img/" alt="">
        <h6>Get 24/7 support, reservation guarantee, and insurance.</h6>
      </div>
    </div>
  </div>
</section>

<section class="services">
  <h1>
    Services</h1>
  <div class="row">
    <div class="col-md-6">
      <img src="assets/img/170612_Minder_Social_30mayHousitting_selected-8.png" alt="">
      <h4>Pet & House Sitting</h4>
      <h6>A sitter stays overnight at your home, taking care of your pets and home</h6>
    </div>
    <div class="col-md-6">
      <img src="assets/img/170612_Minder_Social_30mayBoarding_Selected-8.png" alt="">
      <h4>Pet Boarding</h4>
      <h6>Your pets stay overnight at the sitter’s home</h6>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <img src="assets/img/170612_Minder_Social_30maydogwalking_select-8.png" alt="">
      <h4>Dog Walking</h4>
      <h6>
        Your pet gets a walk from a pet walker</h6>
    </div>
    <div class="col-md-6">
      <img src="assets/img/170612_Minder_Social_30mayDropin visits_logo lockup-8.png" alt="">
      <h4>Drop-in Visits</h4>
      <h6>A sitter checks in on your pets during the day for feeding and some play time.</h6>
    </div>

  </div>
</section>










<footer class="bg-success">
  <div class="row">
    <div class="col-md-3">minderz logo here</div>
    <div class="col-md-3">
      <p>5th Floor, Block B, Woodstock Exchange, 66 Albert road, Woodstock Cape Town</p>
    </div>
    <div class="col-md-3"><p>+27 021 552 6371 support@minderz.co.za</p> 
    </div>
    <div class="col-md-3">Subscribe for updates with the latest developments of our o?ering. Subscribe for updates with the latest developments
      of our offering.</div>
  </div>
</footer>
