#colourBlock{

    background-color:#f0efef;
    height: 300px;
    margin-top: 50px;


}
h1,h4{
      color: #666363;
}

.pinkish{
    color: #ff978f;
}
.stepin{
background-color:#337ab7;
border-color:#337ab7;
color:#fff;
cursor: hand;
}
.stepout{
  color:#337ab7;
background-color:#fff
}

