<div class="container">

  <form class="well form-horizontal" action=" " method="post" id="pet_register">
    <fieldset>

      <div class="form-group">
        <label class="col-md-4 control-label">Upload a picture of your pet</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-camera"></i>
            </span>
            <button name="petpicture" class="form-control" type="button">Choose File</button>
          </div>
        </div>
      </div>

      <div class="alert alert-info" role="alert">
         If you don't have a photo on hand, please upload a generic picture
         of their breed. NOTE: We ask for your pet's photo in the event
         they escape, so they can be identified.
      </div>

      <div class="form-group">
          <label class="col-md-4 control-label" >Emergency Contact Details</label> 
            <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-phone"></i></span>
          <input name="emergencycontact " placeholder="Emergency Contact Details" class="form-control"  type="text">
            </div>
          </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" >Emergency Vet Spend Limit</label> 
              <div class="col-md-4 inputGroupContainer">
              <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-plus-square"></i></span>
            <input name="emergencyvet" placeholder="Spend Limit" class="form-control"  type="text">
              </div>
            </div>
          </div>

          <div class="alert alert-info" role="alert">
              Please specify the vet spend limit in case your pet needs
              emergency care and the sitter cannot contact you.
           </div>

           <div class="form-group">
              <label class="col-md-4 control-label"></label>
              <div class="col-md-4">
                <button class="btn btn-primary">Back
                  <span class="fa fa-arrow-left"></span>
                </button>
                <button class="btn btn-warning">Finish
                  <span class="fa fa-thumbs-up"></span>
                </button>
              </div>
            </div>

    </fieldset>
  </form>
</div>