<div class="container">

    <form class="well form-horizontal" action=" " method="post"  id="contact_form">
<fieldset>

  <legend>Step 4 of 4:Sitter Details</legend>
  <!-- Select Basic -->

<div class="form-group">
  <label class="col-md-4 control-label">House Type:</label>
    <div class="col-md-4 selectContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
    <select name="house" class="form-control selectpicker" >
      <option value=" " >Flat</option>
      <option>House without a yard</option>
      <option>House with a yard</option>


    </select>
  </div>
</div>
</div>
<!-- Select Basic -->

<div class="form-group">
  <label class="col-md-4 control-label">Children</label>
    <div class="col-md-4 selectContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-child" aria-hidden="true"></i></span>
    <select name="children" class="form-control selectpicker" >
      <option value=" " >Yes</option>
      <option>No</option>


    </select>
  </div>
</div>
</div>
<!-- Select Basic -->

<div class="form-group">
  <label class="col-md-4 control-label">Experience</label>
    <div class="col-md-4 selectContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
    <select name="experience" class="form-control selectpicker" >
      <option value=" " >No Experience</option>
      <option>1 Year</option>
      <option>2 Year</option>
      <option>3 Year</option>
      <option>4+ Year</option>

    </select>
  </div>
</div>
</div>
<!-- Text input-->

<div class="form-group">
  <label class="col-md-4 control-label">HeadLine:</label>
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
  <input name="headline" placeholder="Headline" class="form-control"  type="text">
    </div>
  </div>
</div>



<!-- Text area -->

<div class="form-group">
  <label class="col-md-4 control-label">About You:</label>
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
        	<textarea class="form-control" name="aboutYou"></textarea>
  </div>
  </div>
</div>

<!-- Select Basic -->

<div class="form-group">
  <label class="col-md-4 control-label">Done Volunteer work for Pets?</label>
    <div class="col-md-4 selectContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-paw" aria-hidden="true"></i></span>
    <select name="volunteerPets" class="form-control selectpicker" >
      <option value=" " >Yes</option>
      <option>No</option>


    </select>
  </div>
</div>
</div>

<!-- Select Basic -->

<div class="form-group">
  <label class="col-md-4 control-label">Do You Own Pets?</label>
    <div class="col-md-4 selectContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-paw" aria-hidden="true"></i></span>
    <select name="ownPets" class="form-control selectpicker" >
      <option value=" " >Yes</option>
      <option>No</option>


    </select>
  </div>
</div>
</div>

<!-- Select Basic -->

<div class="form-group">
  <label class="col-md-4 control-label">Have You Owned Pets</label>
    <div class="col-md-4 selectContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-paw" aria-hidden="true"></i></span>
    <select name="ownedPets" class="form-control selectpicker" >
      <option value=" " >Yes</option>
      <option>No</option>


    </select>
  </div>
</div>
</div>

<!-- Text input-->

<div class="form-group">
  <label class="col-md-4 control-label">Reference 1 Name:</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
  <input  name="ref1Name" placeholder="Reference 1 Name" class="form-control"  type="text">
    </div>
  </div>
</div>

<!-- Text input-->

<div class="form-group">
  <label class="col-md-4 control-label">Reference 1 Phone:</label>
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
  <input name="ref1Phone" placeholder="Reference 1 Phone" class="form-control" type="text">
    </div>
  </div>
</div>

<!-- Text input-->

<div class="form-group">
  <label class="col-md-4 control-label">Reference 2 Name:</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
  <input  name="ref2Name" placeholder="Reference 2 Name" class="form-control"  type="text">
    </div>
  </div>
</div>

<!-- Text input-->

<div class="form-group">
  <label class="col-md-4 control-label">Reference 2 Phone:</label>
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
  <input name="ref2Phone" placeholder="Reference 2 Phone" class="form-control" type="text">
    </div>
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label"></label>
  <div class="col-md-4">
    <button type="back" class="btn btn-warning" > Back <span class="glyphicon glyphicon-send"></span></button>

    <button type="submit" class="btn btn-warning" >Submit <span class="glyphicon glyphicon-send"></span></button>
  </div>
</div>


</fieldset>
</form>
</div>
