<div class="row">
    <div class="background">
        <div class="col-md-2 col-xs-2">
            <div class="form-group">
                <select name="service" class="form-control selectpicker">
          <option>House Sitting</option>
          <option>Pet Boarding</option>
          <option>Drop-in Visit</option>
          <option>Dog Walk</option>
        </select>
            </div>
        </div>

        <div class="col-md-4 col-xs-4">
            <div class="form-group">
                <input type="text" class="form-control" autocorrect="off" autocapitalize="off" spellcheck="off" #address placeholder="Your location" id="location">
            </div>
        </div>

        <div class="col-md-6 col-xs-6">
            <div class="col-md-5 col-xs-5">
                <div class="form-group">
                    <input type="text" class="form-control" onfocus="(this.type='date')" placeholder="Start Date" id="startDate">
                </div>
            </div>

            <div class="col-md-5 col-xs-5">
                <div class="form-group">
                    <input type="text" class="form-control" onfocus="(this.type='date')" placeholder="End Date" id="endDate">

                </div>
            </div>

            <div class="col-md-2 col-xs-2">
                <button type="button" class="btn btn-search-pink form-control"><i class="fa fa-search" aria-hidden="true"></i></button>
            </div>
        </div>





    </div>
</div>