<div class="container-fluid">
    <div class="row">
        <app-pet-service-filter></app-pet-service-filter>
    </div>
    <div class="row ">
        <div class="col-md-6 p-0 list">
            <div *ngFor="let sitter of filter.filteredList">
                <app-sitter-profile-card [petSitter]='sitter' (click)="sitterInfo(sitter)" class="cards"></app-sitter-profile-card>
            </div>
        </div>
        <div class="col-md-6 map">
            <!-- <app-google-map [locations]="sitterList"></app-google-map> -->
        </div>
    </div>
</div>