

<div class="stepOne" *ngIf="step1">
  <form class="well form-horizontal" #f="ngForm" (ngSubmit)="addressfield(f.value)">

    <div class="form-group">
      <label class="col-md-4 control-label">Address</label>
      <div class="col-md-4 inputGroupContainer">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="glyphicon glyphicon-home"></i>
          </span>
          <input #address="ngModel" ngModel name="address" placeholder="Address" class="form-control" type="text" required>
        </div>
        <div *ngIf="address.touched && address.invalid" class="alert alert-danger">
          <div *ngIf="address.errors.required"> Your
            <strong>Address</strong> is required!</div>
        </div>
      </div>
    </div>
    <button class="btn btn-lg btn-primary" [disabled]="!(address.touched) &&   address.invalid || (address.touched) &&  address.invalid"
      (click)="step2 = true; " type="submit">
      <i class="fa fa-arrow-right" aria-hidden="true"></i> Next</button>
  </form>

</div>

<div class="stepTwo" *ngIf="step2">
  <div class="row">
    <form class=" form-horizontal col-md-8" #person="ngForm" (ngSubmit)="personal(person.value)">
      <div class="form-group">
        <label class="col-md-4 control-label"> Profile Picture</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="glyphicon glyphicon-camera"></i>
            </span>
            <input type="text" #profilepic="ngModel" ngModel name="profilepic" placeholder="Image URL" class="form-control">
          </div>
          <div *ngIf="profilepic.touched && profilepic.invalid" class="alert alert-danger">
            please enter an ImageUrl
            <div *ngIf="profilepic.errors.url" class="alert alert-danger">
              please enter a valid
              <strong>Url</strong> in order to update profile
            </div>
          </div>

        </div>
      </div>


      <div class="form-group">
        <label class="col-md-4 control-label">Your Age</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-birthday-cake"></i>
            </span>
            <input #age="ngModel" ngModel name="age" placeholder="Age" class="form-control" type="text" required [gte]="18" digits>
          </div>
          <div *ngIf="age.touched && age.invalid">
            <div *ngIf="age.errors?.required" class="alert alert-danger">
              <strong>Age</strong> is required!</div>
            <div *ngIf="age.errors?.gte" class="alert alert-warning"> At least you must be of age
              <strong>18</strong>
            </div>
            <div *ngIf="age.errors?.digits" class="alert alert-warning">Enter numbers
              <strong>only</strong>
            </div>
          </div>

        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label">Your Gender</label>
        <div class="col-md-4 inline">
          <div class="radio">
            <label>
              <input class="isSelected" type="radio" #gender="ngModel" ngModel name="gender" value="male" required> Male
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" #gender="ngModel" ngModel name="gender" value="female" required> Female
            </label>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label">Zip Code</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="glyphicon glyphicon-home"></i>
            </span>
            <input #zip="ngModel" ngModel name="zip" placeholder="Zip Code" class="form-control" type="text" required>
          </div>
          <div *ngIf="zip.touched && zip.invalid" class="alert alert-danger">
            Your
            <strong>Zip Code</strong> is required!</div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label">Your SA ID Number</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-id-card"></i>
            </span>
            <input #IDNum="ngModel" ngModel name="IDNum" placeholder="13 digit SA ID number" class="form-control" type="text" required>
          </div>
          <div *ngIf="IDNum.touched && IDNum.invalid" class="alert alert-danger">Your
            <strong>SA ID number</strong> is required!</div>

        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label">Upload Copy of ID</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="glyphicon glyphicon-camera"></i>
            </span>
            <button type="button" class="btn btn-default form-control">Choose File</button>
          </div>

        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label">Upload Signed Consent Form</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="glyphicon glyphicon-camera"></i>
            </span>
            <button type="button" class="btn btn-default form-control">Choose File</button>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label">Emergency Contact Name</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-heart-o"></i>
            </span>
            <input #emergencyname="ngModel" ngModel name="emergencyname" placeholder="Emergency Contact Name" class="form-control" type="text"
              required>
          </div>
          <div *ngIf="emergencyname.touched && emergencyname.invalid" class="alert alert-warning">An
            <div *ngIf="emergencyname.errors?.required">
              <strong>Emergency Contact Name</strong> is required!</div>

          </div>

        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label">Emergency Contact Number</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="	fa fa-medkit"></i>
            </span>
            <input #emergencynumber="ngModel" ngModel name="emergencynumber" placeholder="Emergency Contact Number" class="form-control"
              type="text" phone="CN" required>
          </div>
          <div *ngIf="emergencynumber.touched && emergencynumber.invalid" class="alert alert-warning">An
            <div *ngIf="emergencyname.errors?.required">
              <strong>Emergency Contact Number</strong> is required!</div>
            <div *ngIf="emergencyname.errors?.phone">Sorry we
              <strong>Require</strong> a real cell number!</div>
          </div>
        </div>
      </div>


      <button class="btn btn-lg btn-warning" (click)="step3 = false; step2 = true; " type="button">Back
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
      </button>

      <button class="btn btn-lg btn-primary" (click)="step3 = true; " type="submit">Next
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
      </button>





    </form>
    <div class="col-md-3">
      <div class="card" style="width: 20rem;">
        <img class="card-img-top" [src]="profilepic.value" alt="Profile Picture" style="width:100%">
        <div class="card-body">
          <h4>Something goes here</h4>
        </div>

      </div>
    </div>
  </div>
</div>


<div class="stepThree" *ngIf="step3">
  <form class="well form-horizontal" #sitter="ngForm" (ngSubmit)="sitte(sitter.value)">
    <div class="form-group">
      <label class="col-md-4 control-label">Job Distance Radius</label>
      <div class="col-md-4 selectContainer">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-map-marker"></i>
          </span>
          <select #workingdistance="ngModel" ngModel name="workingdistance" class="form-control selectpicker" required>
            <option value="10">10km</option>
            <option value="20">20km</option>
            <option value="50">50km</option>
          </select>
          <div *ngIf="workingdistance.touched && workingdistance.invalid" class="alert alert-warning">An
            <strong>Job Distance Radius</strong> is required!</div>

        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label">Pet Size Preference</label>
      <div class="col-md-4 selectContainer">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-map-marker"></i>
          </span>
          <select #petPreferredSize="ngModel" ngModel name="petPreferredSize" class="form-control selectpicker" required>
            <option value="small">small</option>
            <option value="small-medium">small-medium</option>
            <option value="any size">any size</option>
          </select>
          <div *ngIf="petPreferredSize.touched && petPreferredSize.invalid" class="alert alert-warning">An
            <strong>Pet Size Preference</strong> is required!</div>

        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label">Pet Type Preference</label>
      <div class="col-md-4 inputGroupContainer">
        <div class="input-group">
          <label class="checkbox-inline">
            <input type="checkbox" value="Dogs">Dogs</label>
          <label class="checkbox-inline">
            <input type="checkbox" value="Cats">Cats</label>
          <label class="checkbox-inline">
            <input type="checkbox" value="Fish">Fish</label>
          <label class="checkbox-inline">
            <input type="checkbox" value="Birds">Birds</label>
          <label class="checkbox-inline">
            <input type="checkbox" value="Other">Other</label>
        </div>
      </div>
    </div>

    <div class="form-group">
      <h3 class="col-md-4 col-sm-4 control-label">Dog Walking</h3>
    </div>


    <div class="form-group">
      <label class="col-md-4 control-label">Price per Walk</label>
      <div class="col-md-4 inputGroupContainer">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-money"></i>
          </span>
          <input #priceperwalk="ngModel" ngModel name="priceperwalk" placeholder="Price" class="form-control" type="text" [lt]="1"
            required>
        </div>
        <div *ngIf="priceperwalk.touched && priceperwalk.invalid">
          <div class="alert alert-danger" *ngIf="priceperwalk.errors?.required"> Your
            <strong>own amount</strong> is required!</div>
          <div class="alert alert-warning" *ngIf="priceperwalk.errors?.lt">Unless you are running
            <strong>charity work</strong>we reccommend to set a realistic amount!</div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label">Pets per Walk</label>
      <div class="col-md-4 selectContainer">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-paw"></i>
          </span>
          <select #petsperwalk="ngModel" ngModel name="petsperwalk" class="form-control selectpicker" required>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
          <div *ngIf="petsperwalk.touched && petsperwalk.invalid" class="alert alert-warning">An
            <strong>Pets per Walk</strong> is required!

          </div>

        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label">Walks per Day</label>
      <div class="col-md-4 selectContainer">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-paw"></i>
          </span>
          <select #WalkPerDay="ngModel" ngModel name="WalkPerDay" class="form-control selectpicker" required>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
          <div *ngIf="WalkPerDay.touched && WalkPerDay.invalid" class="alert alert-warning">An
            <strong>Walks per Day</strong> is required!</div>

        </div>
      </div>
    </div>

    <div class="form-group">
      <h3 class="col-md-4 col-sm-4 control-label">Pet Sitting</h3>
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label">Price per Pet</label>
      <div class="col-md-4 inputGroupContainer">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-money"></i>
          </span>
          <input #priceperpet="ngModel" ngModel name="priceperpet" placeholder="Price" class="form-control" type="text" [lt]="1" required>
        </div>
        <div *ngIf="priceperpet.touched && priceperpet.invalid">
          <div class="alert alert-danger" *ngIf="priceperpet.errors?.required"> Your
            <strong>own amount</strong> is required!</div>
          <div class="alert alert-warning" *ngIf="priceperpet.errors?.lt">Unless you are running
            <strong>charity work</strong>we reccommend to set a realistic amount!</div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label">Pets per Day</label>
      <div class="col-md-4 selectContainer">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-paw"></i>
          </span>
          <select #petsperday="ngModel" ngModel name="petsperday" class="form-control selectpicker" required>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
          <div *ngIf="petsperday.touched && petsperday.invalid" class="alert alert-warning">An
            <strong>Number of Pets per Day</strong> is required!</div>

        </div>
      </div>
    </div>

    <div class="form-group">
      <h3 class="col-md-4 col-sm-4 control-label">House Sitting</h3>
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label">Price</label>
      <div class="col-md-4 inputGroupContainer">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-money"></i>
          </span>
          <input #HouseSittingPrice="ngModel" ngModel name="HouseSittingPrice" placeholder="Price" class="form-control" type="text"
            required>
        </div>
        <div *ngIf="HouseSittingPrice.touched && HouseSittingPrice.invalid" class="alert alert-warning">Your
          <strong>House Sitting Price</strong> is required!</div>

      </div>
    </div>

    <div class="form-group">
      <h3 class="col-md-4 col-sm-4 control-label">Drop-in Visits</h3>
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label">Price per Visit</label>
      <div class="col-md-4 inputGroupContainer">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-money"></i>
          </span>
          <input #pricepervisit="ngModel" ngModel name="pricepervisit" placeholder="Price" class="form-control" type="text" [lt]="1"
            required>
        </div>
        <div *ngIf="pricepervisit.touched && pricepervisit.invalid">
          <div class="alert alert-danger" *ngIf="pricepervisit.errors?.required"> Your
            <strong>own amount</strong> is required!</div>
          <div class="alert alert-warning" *ngIf="pricepervisit.errors?.lt">Unless you are running
            <strong>charity work</strong>we reccommend to set a realistic amount!</div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label">Visits per Day</label>
      <div class="col-md-4 selectContainer">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-paw"></i>
          </span>
          <select #visitsperday="ngModel" ngModel name="visitsperday" class="form-control selectpicker">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
          <div *ngIf="visitsperday.touched && visitsperday.invalid" class="alert alert-warning">An
            <strong>Number of visits</strong> is required!</div>
        </div>
      </div>
    </div>

     <button class="btn btn-lg btn-warning" (click)="step4 = false; step3 = true; " type="button">
      <i class="fa fa-arrow-left" aria-hidden="true"></i> Back
    </button>

<button class="btn btn-lg btn-primary" (click)="step4 = true; " type="submit">Next
      <i class="fa fa-arrow-right" aria-hidden="true"></i>
    </button>




  </form>

</div>





<div class="stepFour" *ngIf="step4">
  <form class="well form-horizontal" #sit="ngForm" (ngSubmit)="sittingdetails(sit.value)">

    <div class="form-group">
      <label class="col-md-4 control-label">House Type:</label>
      <div class="col-md-4 selectContainer">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="glyphicon glyphicon-home"></i>
          </span>
          <select #houseType="ngModel" ngModel name="houseType" class="form-control selectpicker">
            <option value="flat">Flat</option>
            <option value="House without a yard">House without a yard</option>
            <option value="House with a yard">House with a yard</option>
          </select>
          <div *ngIf="houseType.touched && houseType.invalid" class="alert alert-warning">An
            <strong>House Type</strong> is required!</div>

        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label">Children</label>
      <div class="col-md-4 selectContainer">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-child" aria-hidden="true"></i>
          </span>
          <select #children="ngModel" ngModel name="children" class="form-control selectpicker" required>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
          </select>
          <div *ngIf="children.touched && children.invalid" class="alert alert-warning">
            An
            <strong>Do you have Children?</strong>
          </div>

        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label">Experience</label>
      <div class="col-md-4 selectContainer">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="glyphicon glyphicon-list"></i>
          </span>
          <select #experience="ngModel" ngModel name="experience" class="form-control selectpicker" required>
            <option value="No Experience">No Experience</option>
            <option value="1 Year">1 Year</option>
            <option value="2 Years">2 Years</option>
            <option value="1 Years">3 Years</option>
            <option value="1 Years">4+ Years</option>
          </select>
          <div *ngIf="experience.touched && experience.invalid" class="alert alert-warning">
            Please specify your
            <strong> Experience!</strong>
          </div>

        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label">HeadLine:</label>
      <div class="col-md-4 inputGroupContainer">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="glyphicon glyphicon-home"></i>
          </span>
          <input #headline="ngModel" ngModel name="headline" placeholder="Headline" class="form-control" type="text" required>
        </div>
        <div *ngIf="headline.touched && headline.invalid" class="alert alert-danger">Your
          <strong>HeadLine</strong> is required!</div>

      </div>
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label">About You:</label>
      <div class="col-md-4 inputGroupContainer">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="glyphicon glyphicon-pencil"></i>
          </span>
          <textarea class="form-control" #bio="ngModel" ngModel name="bio" value=""></textarea>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label">Done Volunteer work for Pets?</label>
      <div class="col-md-4 selectContainer">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-paw" aria-hidden="true"></i>
          </span>
          <select #volunterPets="ngModel" ngModel name="volunteerPets" class="form-control selectpicker" required>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
          </select>
          <div *ngIf="volunterPets.touched && volunterPets.invalid" class="alert alert-warning">
            <strong>have you worked with Pets before?</strong>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label">Do You Own Pets?</label>
      <div class="col-md-4 selectContainer">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-paw" aria-hidden="true"></i>
          </span>
          <select #ownPets="ngModel" ngModel name="ownPets" class="form-control selectpicker" required>
            <option value=" ">Yes</option>
            <option>No</option>
          </select>
          <div *ngIf="ownPets.touched && ownPets.invalid" class="alert alert-warning">
            <strong>Do you have any pet?</strong>
          </div>

        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label">Have You Owned Pets</label>
      <div class="col-md-4 selectContainer">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-paw" aria-hidden="true"></i>
          </span>
          <select #ownedPets="ngModel" ngModel name="ownedPets" class="form-control selectpicker">
            <option value="Yes">Yes</option>
            <option value="No">No</option>
          </select>
          <div *ngIf="ownedPets.touched && ownedPets.invalid" class="alert alert-warning">An
            <strong>Have you owned any pets</strong> is required!</div>

        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label">Reference 1 Name:</label>
      <div class="col-md-4 inputGroupContainer">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="glyphicon glyphicon-user"></i>
          </span>
          <input #ref1Name1="ngModel" ngModel name="ref1Name1" placeholder="Reference 1 Name" class="form-control" type="text" required>
        </div>
        <div *ngIf="ref1Name1.touched && ref1Name1.invalid" class="alert alert-danger">Your
          <strong>Reference 1 Name</strong> is required!</div>

      </div>
    </div>


    <div class="form-group">
      <label class="col-md-4 control-label">Reference 1 Phone:</label>
      <div class="col-md-4 inputGroupContainer">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="glyphicon glyphicon-earphone"></i>
          </span>
          <input #ref1Phone="ngModel" ngModel name="ref1Phone" placeholder="Reference 1 Phone" class="form-control" type="text" required>
        </div>
        <div *ngIf="ref1Phone.touched && ref1Phone.invalid" class="alert alert-danger">Your
          <strong>Reference 1 Phone</strong> is required!</div>

      </div>
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label">Reference 2 Name:</label>
      <div class="col-md-4 inputGroupContainer">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="glyphicon glyphicon-user"></i>
          </span>
          <input #ref2Name="ngModel" ngModel name="ref2Name" placeholder="Reference 2 Name" class="form-control" type="text" required>
        </div>
        <div *ngIf="ref2Name.touched && ref2Name.invalid" class="alert alert-danger">Your
          <strong>Reference 2 Name</strong> is required!</div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label">Reference 2 Phone:</label>
      <div class="col-md-4 inputGroupContainer">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="glyphicon glyphicon-earphone"></i>
          </span>
          <input #ref2Phone="ngModel" ngModel name="ref2Phone" placeholder="Reference 2 Phone" class="form-control" type="text" required>
        </div>
        <div *ngIf="ref2Phone.touched && ref2Phone.invalid" class="alert alert-danger">Your
          <strong>Reference 2 Phone</strong> is required!</div>
      </div>
    </div>
    <button class="btn btn-lg btn-primary" type="submit">Submit
      <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
    </button>

    <button class="btn btn-lg btn-warning" type="submit" (click)="step4 = false; step3 = true;">Back
      <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
    </button>
  </form>
</div>


<div class="stepOne" *ngIf="step1">

  <div class="row text-center">
    <ul class="pagination pagination-success">
      <li class="">
        <a [ngClass]="step1 ? 'stepin' : 'stepout'">1</a>
      </li>
      <li>
        <a [ngClass]="step2 ? 'stepin' : 'stepout'">2</a>
      </li>
      <li>
        <a [ngClass]="step3 ? 'stepin' : 'stepout'">3</a>
      </li>
      <li>
        <a [ngClass]="step4 ? 'stepin' : 'stepout'">4</a>
      </li>
    </ul>
  </div>

  <app-footer></app-footer>
