.mg-top-20 {
  margin-top: 20px;
  /* background-color: blueviolet; */
}
.mg-top-30 {
  margin-top: 30px;
}
.mg-top-40 {
  margin-top: 40px;
}
.mg-top-50 {
  margin-top: 50px;
}
.mg-top-60 {
  margin-top: 60px;
}
.mg-top-75 {
  margin-top: 75px;
}
.pd-top-20 {
  padding-top: 20px;
}
