/* Smartphones (portrait) ----------- */
/* @media only screen and (max-width : 320px) { */
  /* Styles */
/* } */


.logoImg{
  /* height: 80px;
width:80px; */
}

.mt-10{
margin-top: -110;
}
.mt-20{
margin-top: 20;
}
.mt-30{
margin-top: 30;
}
.mt-40{
margin-top: 40;
}


@media (min-width: 0px) {
  .rowfix{
margin-right: 0px !important;
padding-left: 20px !important;
/* inline-size:0ch; */
  }

  .logoImg{
    height: 40px;
  width:40px;
  }
}
@media (min-width: 488px) {
  .logoImg{
    height: 50px;
  width:50px;
  }
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}@media (min-width: 1200px) {
}
