.mt-10{
margin-top: -110;
}
.mt-20{
margin-top: 20;
}
.mt-30{
margin-top: 30;
}
.mt-40{
margin-top: 40;
}


/* ------------------------------------- */
@media (min-width: 0px) {
  .rowfix{
margin-right: 0px !important;
padding-left: 20px !important;

}

.foot{
height: 295px;
padding-left:12px;
color:#e5e4e6;
margin-top: 110px;
font-size: 11px;
  }
  .subscribe{
    height: 27.5px;
    color: #ff978f;
  }
  .details{
    height: 163px;
  }


  .logoImg{
    width: 90px;
    height: 98px;
    float: left;
    margin-right: 2px;
  }

}

/* ----------------------------------------- */
@media (min-width: 488px) {
  .logoImg{
    height: 150px;
  width:150px;
margin-top: 120px;

  }
  .details{
    height: 173px;
    margin-top: 21px;
  }


.foot{
  height: 363px;}
}
/* --------------------------------------------- */
@media (min-width: 768px) {
  .foot{
height: 178px;
margin-top: 205px;
font-size: 15px;
}
.logoImg{
  height: 100px;
width:100px;
margin-top: 0px;

}

}
/* ------------------------------------------------- */
@media (min-width: 992px) {
  .foot {
    height: 172px;
    /* margin-top: 405px; */

}
/* --------------------------------------------------- */
}@media (min-width: 1200px) {
  /* .logoImg{
    width: 170px;
    height: 170px;
    float: left;
    margin-right: 2px;
  } */
}
