<!--Start booking profile-->
<div class="container-fluid" id="main-display">
  <div class="row" id="display-box">
    <div class="col-md-8 col-sm-12" id="profile">

      <!--Start overview-->
      <div class="col-md-12" id="overview-panel">
        <div class="col-lg-4 col-md-5 col-sm-12" id="profile-pic-panel">
          <img id="profile-pic" src="#" />
        </div>

        <div class="col-lg-7 col-md-7 col-sm-12" id="info">
          <input [(ngModel)]="fullname" class="line-spacing-5" id="fullname" [readonly]="!editing" />

          <!--Start rating-->
          <div class="line-spacing-5 col-md-12 col-sm-12 col-xs-12" id="rating-panel">
            <!--Start rating stars-->

            <div class="col-md-3 col-sm-12 col-xs-12 display-flex" id="rating">
              <span id="stars" class="value display-flex">
                <i [class]="rating > 0.5 ? 'fa fa-star' : rating > 0 ? 'fa fa-star-half-o' : 'fa fa-star-o'"></i>
                <i [class]="rating > 1.5 ? 'fa fa-star' : rating > 1 ? 'fa fa-star-half-o' : 'fa fa-star-o'"></i>
                <i [class]="rating > 2.5 ? 'fa fa-star' : rating > 2 ? 'fa fa-star-half-o' : 'fa fa-star-o'"></i>
                <i [class]="rating > 3.5 ? 'fa fa-star' : rating > 3 ? 'fa fa-star-half-o' : 'fa fa-star-o'"></i>
                <i [class]="rating > 4.5 ? 'fa fa-star' : rating > 4 ? 'fa fa-star-half-o' : 'fa fa-star-o'"></i>
                <!--End rating stars-->
              </span>
              <h3 id="rating-number" class="value">{{rating}}</h3>
            </div>

            <div class="col-md-9 col-sm-12 col-xs-12" id="reviews">
              <label>Based on {{reviews}} reviews</label>
            </div>
          </div>


          <!--End rating-->

          <div class="line-spacing-5 col-md-12 col-sm-12 col-xs-12" id="account-details">
            <h4>Member since {{accountCreated}}, {{jobsComplete}} complete</h4>
          </div>

          <!--Start job history-->
          <div class="line-spacing-5 col-md-12 col-sm-12 col-xs-12" id="job-history">

            <h3 class="col-lg-2 col-md-6 col-sm-6 col-xs-12">Jobs</h3>
            <h3 class="value col-lg-3 col-md-6 col-sm-6 col-xs-12"> {{jobs}}</h3>

            <h3 class="col-lg-4 col-md-6 col-sm-6 col-xs-12">Cancellations</h3>
            <h3 class="value col-lg-3 col-md-6 col-sm-6 col-xs-12"> {{cancellations}}</h3>

          </div>
          <!--End job history-->
        </div>
      </div>
      <!--End overview-->

      <!--Start about-->
      <div class="col-md-12 col-sm-12" id="about-panel">
        <h2 class="line-spacing-20">About me</h2>
        <!-- <p class="line-spacing-20">{{aboutMe}}</p> -->
        <input id="about-me" class="line-spacing-20" [(ngModel)]="aboutMe" [readonly]="!editing" />

        <h4 class="line-spacing-20">Languages</h4>
        <h4 class="value line-spacing-20" *ngFor="let language of languages">{{language}}</h4>

        <!-- Start editing language -->
        <div [style.min-height]="editing ? '34.4px' : '0px'" id="add-language" class="display-flex">
          <a class="add" [style.display]="editing && !addingLanguage ? 'block' : 'none'" (click)="addLanguage()">Add
            <i class="fa fa-plus"></i>
          </a>
          <div class="input-group">
            <input class="form-control" [style.display]="editing && addingLanguage ? 'block' : 'none'" [(ngModel)]="newLanguage" />
            <div id="add-language-button" class="input-group-addon" [style.display]="editing && addingLanguage ? 'table-cell' : 'none'"
              (click)="pushLanguage()">
              <i class="fa fa-check"></i>
            </div>
          </div>
          <a class="cancel" [style.display]="editing && addingLanguage ? 'block' : 'none'" (click)="addLanguage()">
            <i class="fa fa-chevron-left"></i>Cancel</a>
        </div>
        <!-- End editing language -->


        <h4 class="line-spacing-20">Skills</h4>
        <h4 class="value line-spacing-20" *ngFor="let skill of skills">{{skill}}</h4>

        <!-- Start editing skill -->
        <div [style.min-height]="editing ? '34.4px' : '0px'" id="add-skill" class="display-flex">
          <a class="add" [style.display]="editing && !addingSkill ? 'block' : 'none'" (click)="addSkill()">Add
            <i class="fa fa-plus"></i>
          </a>
          <div class="input-group">
            <input class="form-control" [style.display]="editing && addingSkill ? 'block' : 'none'" [(ngModel)]="newSkill" />
            <div id="add-skill-button" class="input-group-addon" [style.display]="editing && addingSkill ? 'block' : 'none'" (click)="pushSkill()">
              <i class="fa fa-check"></i>
            </div>
          </div>
          <a class="cancel" [style.display]="editing && addingSkill ? 'block' : 'none'" (click)="addSkill()">
            <i class="fa fa-chevron-left"></i>Cancel</a>
        </div>
        <!-- Start editing skill -->

      </div>
      <!--End about-->

    </div>

    <div class="col-md-4 col-sm-12" id="calender">

    </div>

    <div class="col-md-8 col-sm-12" id="pet-list">

    </div>

    <div class="col-md-4 col-sm-12" id="map">

    </div>

    <a (click)="edit()">{{editing}}</a>

  </div>
</div>
<!--End booking profile-->
