<div id="slideout">
    <div class="tab">
      <span><i class="fa fa-profile"></i></span>
      <p>Profile</p>
    </div>
      <div id="slideout_inner">
                <div class="portfoliocard">
                <div class="coverphoto"></div>
                <div class="profile_picture"></div>
                <div class="left_col">
                  <div class="followers">
                    <div class="follow_count">3</div>
                    Pets
                  </div>
                  <div class="following">
                    <div class="follow_count">Your Work</div>
                    loading...
                  </div>
                </div>
                <div class="right_col">
                  <h2 class="name">John Doe</h2>
                  <h3 class="location">Cape Town, RSA</h3>
                  <ul class="contact_information">
                    <li class="work">Special title treatment</li>
                    <li class="mail">john.doe@apple.com</li>
                    <li class="phone">(123)-757-2923</li>
                    <li class="resume"><a href="#" class="nostyle">address</a></li>
                  </ul>
                </div>
                </div>

      </div>
      </div>

      <div class="height">

      </div>
