<div class="row">
  <div class="col-md-7 left">
    <div class="panel panel-warning">
      <div class="panel-heading">
        <span class="glyphicon glyphicon-calendar"></span> Your Work</div>
      <div class="panel-body">
        <div class="card">
          <br>
          <br>
          <!-- <h5 class="card-header">Featured</h5> -->
          <div class="card-body">
            <!-- <h5 class="card-title">Special title treatment</h5> -->
            <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
            <!-- <a href="#" class="btn btn-primary"> -->
            <!-- <span class="glyphicon glyphicon-briefcase"></span> Go somewhere</a> -->
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-success">
      <div class="panel-heading">
        <i class="fa fa-paw" aria-hidden="true"></i> Your Pets</div>
      <div class="panel-body">
        <div class="card">
          <h5 class="card-header"></h5>
          <div class="card-body">
            <h5 class="card-title"></h5>
            <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
            <!-- <a href="#" class="btn btn-primary">
              <span class="glyphicon glyphicon-briefcase"></span> Go somewhere</a> -->
            <h5>pet 1</h5>
            <h5>pet 2</h5>
            <h5>pet 3</h5>
            <h5>pet 4</h5>
          </div>
        </div>
      </div>
    </div>
  </div>


<div id="slideout">
    <i class="fa fa-user"></i>
    <div id="slideout_inner">
        <form>
            <div class="col-md-12 right">
                <div class="panel panel-primary">
                  <div class="panel-heading">
                    <span class="glyphicon glyphicon-user"></span> Personal</div>
                  <div class="panel-body">
                    <div class="card">
                      <h2 class="card-header">Your Profile </h2>
                      <div class="card-body">
                        <!-- <h5 class="card-title">Special title treatment</h5> -->
            
            
                        <div class="row">
                          <div class="col-md-6">
                            <h5 class="card-text ">Name: </h5>
                            <h5 class="card-text ">Surname: </h5>
                            <h5 class="card-text ">Age: </h5>
                            <h5 class="card-text ">Gender: </h5>
                            <h5 class="card-text ">Identity Number: </h5>
                            <h2>Contact</h2>
                            <h5 class="card-text ">Cellphone Number: </h5>
                            <h5 class="card-text ">Email address: </h5>
                            <h5 class="card-text ">Address: </h5>
            
                            <h2>Emergency Contact</h2>
                            <h5 class="card-text ">Contact Name: </h5>
                            <h5 class="card-text ">Cellphone Number: </h5>
                            <h5 class="card-text ">Address: </h5>
                            <!-- <a href="#" class="btn btn-primary"><span class="glyphicon glyphicon-use"></span> Go somewhere</a> -->
                          </div>
            
                          <div class="card1 col-md-3">
                            <div class="avatar">
                              <img src="../../../assets/img/avatar.png" alt="Avatar" style="width:100%">
                            </div>
                            <div class="container success">
                              <h4>
                                <b>Jane Doe</b>
                              </h4>
                              <p>Sitter</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <br>
                <br>
              </div>
        </form>
    </div>
</div>
</div>
