<div id="slideout">
  <div class="tab">
    <span><i class="fa fa-profile"></i></span>
    <p>Profile</p>
  </div>
    <div id="slideout_inner">
              <div class="profilecard">
              <div class="coverphoto"></div>
              <div class="profile_picture"></div>
              <div class="left_col">
                <div class="Pets">
                  <div class="amountpets">Pets</div>
                  3
                </div>
                <div class="Work">
                  <div class="loadingwork">Your Work</div>
                  loading...
                </div>
              </div>
              <div class="right_col">
                <h2 class="name">Name + Last Name</h2>
                <h3 class="location">Cape Town, RSA</h3>
                <ul class="details">
                  <li><span><i class="fa fa-paw"></i></span> Pet Sitter</li>
                  <li><span><i class="fa fa-gender"></i></span> Gender</li>
                  <li><span><i class="fa fa-calender"></i></span>15/12/1987</li>
                  <li><span><i class="fa fa-envelope"></i></span>petsitter@gmail.com</li>
                  <li><span><i class="fa fa-phone"></i></span>+27 1234 567 89</li>
                  <li><span><i class="fa fa-globe"></i></span>12 Third Avenue, Fourthlands</li>
                </ul>
              </div>
              </div>

    </div>
    </div>

    <div class="row height">
        <div class="col-md-6"></div>
          <div class="col-md-6">
          :)
        </div>
      </div>


      