<div class="container">

  <form class="well form-horizontal" action=" " method="post" id="contact_form">
    <fieldset>

      <div class="form-group">
        <label class="col-md-4 control-label">Job Distance Radius</label>
        <div class="col-md-4 selectContainer">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-map-marker"></i>
            </span>
            <select name="distance" class="form-control selectpicker">
              <option>10km</option>
              <option>20km</option>
              <option>50km</option>
            </select>
          </div>
        </div>
      </div>

      <div class="form-group">
          <label class="col-md-4 control-label">Pet Size Preference</label>
          <div class="col-md-4 selectContainer">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-map-marker"></i>
              </span>
              <select name="preferredsize" class="form-control selectpicker">
                <option>small</option>
                <option>small-medium</option>
                <option>any size</option>
              </select>
            </div>
          </div>
        </div>      



    </fieldset>
  </form>
</div>