<div class="container">

  <form class="well form-horizontal" action=" " method="post" id="contact_form">
    <fieldset>

      <div class="form-group">
        <label class="col-md-4 control-label">Job Distance Radius</label>
        <div class="col-md-4 selectContainer">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-map-marker"></i>
            </span>
            <select name="distance" class="form-control selectpicker">
              <option>10km</option>
              <option>20km</option>
              <option>50km</option>
            </select>
          </div>
        </div>
      </div>

      <div class="form-group">
          <label class="col-md-4 control-label">Pet Size Preference</label>
          <div class="col-md-4 selectContainer">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-map-marker"></i>
              </span>
              <select name="preferredsize" class="form-control selectpicker">
                <option>small</option>
                <option>small-medium</option>
                <option>any size</option>
              </select>
            </div>
          </div>
        </div>  
        
        <div class="form-group">
          <label class="col-md-4 control-label">Pet Type Preference</label>
          <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
              <label class="checkbox-inline"><input type="checkbox" value="">Dogs</label>
              <label class="checkbox-inline"><input type="checkbox" value="">Cats</label>
              <label class="checkbox-inline"><input type="checkbox" value="">Fish</label>
              <label class="checkbox-inline"><input type="checkbox" value="">Birds</label>
              <label class="checkbox-inline"><input type="checkbox" value="">Other</label>
            </div>
          </div>
        </div>

        <div class="form-group">
          <h3 class="col-md-4 col-sm-4 control-label">Walking Dog</h3>
        </div>
        

        <div class="form-group">
          <label class="col-md-4 control-label">Price per Walk</label>
          <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-money"></i>
              </span>
              <input name="priceperwalk" placeholder="Price" class="form-control" type="text">
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label">Pets per Walk</label>
          <div class="col-md-4 selectContainer">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-paw"></i>
              </span>
              <select name="petsperwalk" class="form-control selectpicker">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
              </select>
            </div>
          </div>
        </div>
        
        <div class="form-group">
          <label class="col-md-4 control-label">Walks per Day</label>
          <div class="col-md-4 selectContainer">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-paw"></i>
              </span>
              <select name="preferredsize" class="form-control selectpicker">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
              </select>
            </div>
          </div>
        </div> 

        <div class="form-group">
          <h3 class="col-md-4 col-sm-4 control-label">Pet Sitting</h3>
        </div>
        
        <div class="form-group">
          <label class="col-md-4 control-label">Price per Pet</label>
          <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-money"></i>
              </span>
              <input name="priceperpet" placeholder="Price" class="form-control" type="text">
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label">Pets per Day</label>
          <div class="col-md-4 selectContainer">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-paw"></i>
              </span>
              <select name="petsperday" class="form-control selectpicker">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
              </select>
            </div>
          </div>
        </div>

        <div class="form-group">
          <h3 class="col-md-4 col-sm-4 control-label">House Sitting</h3>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label">Price</label>
          <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-money"></i>
              </span>
              <input name="price" placeholder="Price" class="form-control" type="text">
            </div>
          </div>
        </div>

        <div class="form-group">
          <h3 class="col-md-4 col-sm-4 control-label">Drop-in Visits</h3>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label">Price per Visit</label>
          <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-money"></i>
              </span>
              <input name="pricepervisit" placeholder="Price" class="form-control" type="text">
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label">Visits per Day</label>
          <div class="col-md-4 selectContainer">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-paw"></i>
              </span>
              <select name="visitsperday" class="form-control selectpicker">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
              </select>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label"></label>
          <div class="col-md-4">
            <button class="btn btn-primary">Back
              <span class="fa fa-arrow-left"></span>
            </button>
            <button class="btn btn-warning">Next
              <span class="fa fa-arrow-right"></span>
            </button>
          </div>
        </div>

    </fieldset>
  </form>
</div>